[2015-08-11 21:47] thiaguerd commented on #1714
try add on /config/application.rb
config.active_record.raise_in_transactional_callbacks = true

[2015-08-11 23:07] jasonrhalpern commented on #1714
Thanks for the quick response but that didn't help. I should've mentioned I am using Rails 4.1.7. From my understanding it seems that fix might work in Rails 4.2?

[2015-08-13 02:09] cburgmer commented on #1714
See #1418, #1421 and #1424. Looks like it is fixed in trunk but awaiting a proper release.

[2015-08-13 05:47] jasonrhalpern commented on #1714
Thanks for the update on that.

[2015-08-13 05:47] #1714 closed

[2015-08-13 09:04] travisjtodd opened #1719 "Cannot switch to stable branches on github"
In the Readme documentation for carrierwave on the master branch there is this warning:

![screen shot 2015-08-13 at 11 01 33](https://cloud.githubusercontent.com/assets/47908/9246263/c416873e-41aa-11e5-8d3c-d468a69f88f4.png)

But when I click on the branches tab I do not see the latest stable branch that is in the Releases section (0.10.0 as of writing).

![screen shot 2015-08-13 at 11 01 41](htt

[2015-08-13 09:05] eavgerinos commented on #1719
@travisjtodd Check the tags :)
![github-tags](https://cloud.githubusercontent.com/assets/1211471/9246341/a137ce0e-41b3-11e5-8f8e-70c0874db30f.png)

[2015-08-13 09:05] #1719 closed

[2015-08-13 09:07] #1716 closed

[2015-08-14 04:56] mattolson commented on #1669
Same this is happening to me. I am using Debian Wheezy with ImageMagick 6.7.7-10. Whenever I try to do an operation that requires writing with png transparency, I get something like this:

```       Failed to manipulate with MiniMagick, maybe it is not an image? Original Error: `mogrify -thumbnail 220x279> -background rgba(255, 255, 255, 0.0) -gravity Center -extent 220x279 /tmp/mini_magick2015081

[2015-08-14 04:58] mattolson commented on #1669
This happens when I add `process :convert => 'png'` and also happens when I use `resize_and_pad` with a transparent background.

[2015-08-14 05:02] mattolson commented on #1669
Here is my configuration, if that helps:

[code]

[2015-08-14 14:19] lichtamberg commented on #749
Had again this problem.. Can this really be added to the readme? thanks

[2015-08-16 06:00] zggb opened #1720 "HTTPS url and fog-google"
I can't use https url in this bundle.
I tried
    config.asset_host     = 'https://assets.example.com'
 in CarrierWave.configure, but it doesn't work. It still return simple http
https://github.com/fog/fog-google/issues/58

[2015-08-17 13:57] rafaeladel commented on #1052
I was facing this problem, and wasted 5 hours trying to figure it out! All of that because the order of the strong parameters !!!!!

[2015-08-17 15:25] zggb commented on #1720
I was need to set
    config.fog_public = true
Now it'w work fine.

[2015-08-17 15:25] #1720 closed

[2015-08-18 15:50] #1713 closed

[2015-08-18 15:51] bensie commented on #1711
Please post usage questions to Stack Overflow. The wiki is provided by the community, so if you get an answer that works better than the current wiki page indicates, feel free to update it!

[2015-08-18 15:51] #1711 closed

[2015-08-18 15:52] bensie commented on #1709
Please post usage questions to Stack Overflow.

[2015-08-18 15:52] #1709 closed

[2015-08-18 15:53] bensie commented on #1710
@ryana I think this would be great! If you can find some time we'd welcome a PR!

[2015-08-18 15:53] #1710 closed

[2015-08-18 16:08] bensie commented on #1707
I think you're trying to bend CarrierWave a little too far.

Setting a filename to something dynamic (locale) that changes after a model is saved is going to yield unexpected results. The database table knows one value, your in-memory object knows another.

You'll probably need to take this one to Stack Overflow to get additional help.

[2015-08-18 16:08] #1707 closed

[2015-08-18 16:09] bensie commented on #1705
Please post usage questions to Stack Overflow.

[2015-08-18 16:09] #1705 closed

[2015-08-18 16:11] sekouzed commented on #962
Think you @antlypls, that resolve my problem

mount_uploader :image, ImageUploader

def remove_image=(val)
  image_will_change! if val
  super
end

[2015-08-18 16:15] bensie commented on #1698
@joallard Both alternatives you listed are reasonable: require all of fog, or switch to master :)

[2015-08-18 16:15] #1698 closed

[2015-08-18 16:15] bensie commented on #1708
Please post usage questions to Stack Overflow.

[2015-08-18 16:15] #1708 closed

[2015-08-18 16:17] bensie commented on #1703
This won't work because CarrierWave expects an ActiveRecord attribute, which generates other methods it relies on.

[2015-08-18 16:17] #1703 closed

[2015-08-18 16:49] bensie commented on #1699
You are storing files on S3 privately, so there is no public URL available. If you want to store files privately and need to send URLs in emails, consider using a crazy long expiration time.

[2015-08-18 16:49] #1699 closed

[2015-08-18 16:50] bensie commented on #1697
I haven't tried it, but using http://username:password@host.com/path _might_ work for HTTP basic auth.

[2015-08-18 16:53] bensie commented on #1696
This is not a CarrierWave issue. You need to ensure that ImageMagick is in your `PATH` for the user running the app server.

[2015-08-18 16:53] #1696 closed

[2015-08-18 16:57] bensie commented on #1694
This appears to be an issue on the Fog side of things. Perhaps Fog isn't properly handling the initial response that the file was deleted.

[2015-08-18 16:57] #1694 closed

[2015-08-18 17:00] bensie commented on #1692
No, currently the CarrierWave configuration only accepts a single set of credentials.

[2015-08-18 17:00] #1692 closed

[2015-08-18 17:21] #1638 closed

[2015-08-18 17:25] bensie commented on #1565
Native JSON columns are supported in MySQL [as of 5.7.8](http://dev.mysql.com/doc/refman/5.7/en/json.html).

[2015-08-18 17:25] #1565 closed

[2015-08-19 15:35] VincentVanGoat opened #1723 "Error while generating an uploader"
Hey. I am trying to get users on my website to upload files on a google cloud bucket and for this, I am using Carrierwave.

When I try to use the command:

rails g uploader file

I get this error:

c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/mini_magick-4.2.10/lib/mini_magick/configuration.rb:127:in `cli': ImageMagick/GraphicsMagick is not installed (MiniMagick::Error)
        from c:/Ruby21-x64/lib/ru

[2015-08-20 14:56] annieogrady opened #1724 "Rails, Carrierwave & PrawnLabel Gem"
I am using rails 4.0 (somewhat of a newbie) and I am trying to create a PDF with Prawn Labels Gem and then save the result using Carrierwave.   Any guidance is appreciated.  I am trying to figure out if this is a bug with Carrierwave or something I am doing wrong.    I want to create the Labels and then save them to Carrierwave.

I have successfully create the PDF but when i try to save the @email

[2015-08-20 19:18] VincentVanGoat commented on #1723
This was fixed by changing the version of carrierwave from 4.2.10 to 4.2.7.

[2015-08-20 19:18] #1723 closed

[2015-08-20 22:17] robyedlin commented on #1703
Got it. Thanks.

[2015-08-24 18:51] eavgerinos commented on #1724
@annieogrady I edited your comment to provide some styling in order to be readable. I hope you are ok with this. :smile:

[2015-08-24 19:13] eavgerinos commented on #1724
@annieogrady Please for usage questions post to StackOverflow under the `carrierwave` tag.
You can use the `#file_identifier` method

[code]

You can always use the `:mount_on` option to write the filename in a different field of your model.

eg. If you name the column `filename`

[code]

[2015-08-24 19:13] #1724 closed

[2015-08-24 19:19] eavgerinos commented on #1697
@bensie It won't work. This returns ```ArgumentError: userinfo not supported.  [RFC3986]```.

@jbschrades Carrierwave [downloader](https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/uploader/download.rb#L40) uses Open-Uri's `#open` method.

As it is implemented now, unfortunately, you cannot pass any params to it.

IMHO, this issue enforces the need of [this feature req

[2015-08-24 19:36] eavgerinos commented on #1717
@mariusbutuc I can't see something wrong with those methods. It work quite well on me (`fog` storage`).

Can you please provide more info?

[2015-08-24 20:05] annieogrady commented on #1724
@eavgerinos - many thanks - i have posted on SO with carrier wave.   if it is okay, i'd like to add your comment to my question.

i did add another column naume (e.g. filename and it saves successfully to that).  I sitll don't understand why it does not save to just '@print_campaign.file' - that shows as nil.

@print_campaign.file_identifier  --- gives a undefined method.

again, many thanks - apo

[2015-08-24 20:06] mariusbutuc commented on #1717
@eavgerinos using `fog` storage they behave as expected, but using `file` storage their behaviour is flipped. In an attempt to explain it better, here's the "hack" I'm relying on at the moment:
[code]
Does this help?

[2015-08-24 20:18] eavgerinos commented on #1724
@annieogrady Feel free to copy anything you want.

I believe you should change this line

[code]

With this one

[code]

[2015-08-24 20:21] annieogrady commented on #1724
thanks so much for your help.  very new to coding. many thanks.

Annie O'Grady
Co-founder
AgentBright, Inc
3544 Crown Point Road
Louisville, TN 37777
860-575-6950

On Mon, Aug 24, 2015 at 4:18 PM, Aggelos Avgerinos <notifications@github.com

[2015-08-30 09:55] phuongnd08 opened #1727 "Carrierwave always tries to populate a mounted field with its identifier"
I'm recently running into issue a field mounted with an uploader being populated with its name (so if the field name: assets, it will be populated with 'assets') every time the record being saved, even though no file assigned to it yet.

Upon closer inspection, I found 2 things:
1. When an uploader is mounted to a record, it install these `before_save :"write_#{column}_identifier"`
https://github.

[2015-08-30 10:08] phuongnd08 commented on #1727
My bad. Although the field is populated with its name, `field.present?` still return false. Perhaps it's another bug that confuses me.

[2015-08-31 03:53] robbie-mcfarlane opened #1728 "Carrierwave with AWS S3: file has an extension that does not match its contents"
Whenever I try to update or delete an AWS S3 upload I get the following error:

"file has an extension that does not match its contents"

Ruby 2.2.0
Rails 4.2.0
Carrierwave 0.10.0

Looking in to this issue.

[2015-08-31 13:00] robbie-mcfarlane commented on #1728
Realised it was an issue with the file_validators gem. I had to remove the file_content_type validation entirely and use the carrierwave uploader extension_white_list by itself; having both causes it to break.

Before:
[code]
After:
[code]

Leaving this here in case someone has the same issue.

[2015-08-31 13:00] #1728 closed

[2015-08-31 18:15] mrdougwright commented on #75
This worked for me, if anyone still has this issue
Simply add `remove_avatar` to your attr_accessible list for your model.

[2015-09-01 15:00] gtournie opened #1729 "I18n::InvalidLocale if imagemagick/graphicsmagick is not installed"
Hey,

I got this error when using carrierwave without imagemagick / graphicsmagick installed:
`I18n::InvalidLocale (:en is not a valid locale)`

I had to add :en in my locales to find out what the problem was:

[code]

Here was my application.rb:

[code]

and my locale file:

[code]

Why it doesn't use the :fr locale ?

[2015-09-01 18:53] jpatel commented on #1697
This feature will be wonderful and I can use it.

[2015-09-01 18:56] jbschrades commented on #1697
@eavgerinos sounds good to me

[2015-09-02 21:58] gustavoschmidt opened #1730 "Add configuration variable to not delete files on model destruction"
I'm preventing CarrierWave from deleting any files from the storage. To do that, I'm skipping callback methods for all models with mounted uploaders.

I just found out the config variable `remove_previously_stored_files_after_update` that prevents the deletion after a update. Do you guys thinks a new configuration variable `remove_stored_files_after_destroy` is a common use case? If so, I'd love t

[2015-09-04 05:52] ckonduri commented on #1631
Hello Team,

I still see issue.

=> Rails 4.2.4 application starting in development on http://localhost:3000
=> Run `rails server -h` for more startup options
=> Ctrl-C to shutdown server
Exiting
/Users/chaitanya/yelpdemo/config/initializers/carrierwave.rb:2:in `block in <top (required)>': undefined method `fog_provider=' for CarrierWave::Uploader::Base:Class (NoMethodError)
	from /Users/chaitanya

[2015-09-04 14:47] #1697 closed

[2015-09-06 18:44] micahalcorn opened #1732 "Cannot load "fog-google""
If I follow the Readme and attempt to `config.fog_provider = 'fog-google'`, then `activesupport-4.2.0` throws "cannot load such file -- fog-google". This is resolved by changing my `config.fog_provider` to `fog/google` (slash instead of hyphen, which then matches the Readme for AWS & Rackspace).

When I originally posted this issue I had missed the instruction to also provide a `:provider` on the

[2015-09-07 04:17] gfx opened #1733 "Please release a new version"
I'd like to use CarrierWave::Uploader::MagicMimeWhitelist, which is not bundled in v0.10.0.

I know the v1.0.0 milestones are working in progress but it should be possible that a new non-v1.0.0 version, or v0.11.0 is released before v1.0.0.

[2015-09-07 13:36] fran-worley commented on #1733
+1 for this. I would love for the ability to just use fog-aws and not have every single fog gem a dependancy.

[2015-09-08 06:44] Z-von-Bub opened #1734 "Question: How to check if alternative versions were created successfully"
The uploader can handle various file types. When uploading images it is easy to create the alternative versions of file (e.g. thumbs). If txt (or doc, xml, xsl, .... ) file is uploaded, the thumb cannot be created. Or creation of thumb can fail by any reason. How can I check it the alternative versions were created and uploaded successfully?

[2015-09-08 12:14] philipgiuliani commented on #1642
Also having this issue :( Uncool that there's no solution yet.. Can somebody explain me why:
[code]
works, but the following not:
[code]

[2015-09-08 15:10] phuongnd08 commented on #1727
After retry a few times, I can confirm that this is real. When the Rails model get saved (like an attribute get changed), the uploader field is populated with its name and then start thinking that it has been uploaded, which is incorrect.

[2015-09-08 15:28] phuongnd08 commented on #1727
And just to add helpful details, I'm using carrierwave-aws to upload files to S3. Maybe the combination result in the mess?

[2015-09-08 16:57] matthewrudy commented on #1733
+1

[2015-09-08 16:58] fran-worley commented on #1733
Forgot to mention, if you need any help in doing this I have some time at the moment.

[2015-09-08 21:46] dylansm opened #1735 "Image cache not being used with S3 prior to upload"
I've been struggling to get image cache to show up. The cache dir is being set and the images are sized and saved locally to the cache dir, but the view prepends the asset_host URL to the front of the path, which is on S3, but the images, at this point, are only local. So, e.g. if I save the model with failing validations, the screen refresh always has the remote URL instead of the local cache pat

[2015-09-09 01:31] ruckus commented on #1494
I'm seeing this same behavior on Rails 4.2.1 and CarrierWave 0.10.0.

I tried @rgonsalves suggestion of:

[code]

and that didnt seem to do the trick.

[2015-09-09 04:57] st0012 opened #1736 "Better configuration error"
Hello, I noticed that if we configure a not yet registered uploader like:
[code]

It will raise
[code]
which is caused by `eval` in [this line](https://github.com/carrierwaveuploader/carrierwave/blob/master/lib%2Fcarrierwave%2Fuploader%2Fconfiguration.rb#L75)

And this is a very confusing message, you have to dive into source code to find out what's wrong. So I wonder if there anyone think raise a

[2015-09-09 08:16] kuraga opened #1737 "carrierwave-sequel maintaining"
@bensie , sorry about a little off-topic but can you please see my e-mail in CarrierWave mailing list?
https://groups.google.com/forum/#!topic/carrierwave/Q7-Xtgk9SFM
Nobody wants to do this or reply...
Thanks very much!

[2015-09-11 02:27] flanger001 commented on #1631
@plribeiro3000 is right, you have to remove `config.fog_provider`. The `:provider` key in the `config.fog_credentials` hash is where you set AWS.

#### Gemfile
gem 'carrierwave'
gem 'fog'

#### config/initializers/carrierwave.rb
[code]

[2015-09-11 02:36] plribeiro3000 commented on #1631
Actually the `config.fog_provider` is only needed when you don´t have `fog` but only one of the providers (in this case `fog-aws`).

The issue @ckonduri is facing is because he is looking into the wrong documentation.
See [here](https://github.com/carrierwaveuploader/carrierwave/tree/v0.10.0) for the expected configurations for you @ckonduri .

[2015-09-11 22:54] #1594 closed

[2015-09-11 23:03] eavgerinos commented on #1732
@micahalcorn Which version of CarrierWave are you using?

The README refers to the master branch. In case you are using `v0.10.0` please switch to its branch and configure your application according to it.

[2015-09-11 23:41] micahalcorn commented on #1732
This is what I don't understand. The master branch identifies version 0.10.0 in `carrierwave/lib/carrierwave/version.rb`. The only numbered branches that I see in the repo are 0.3-stable, 0.4-stable, and 0.5-stable. What am I missing?

[2015-09-12 01:17] eavgerinos commented on #1732
@micahalcorn https://github.com/carrierwaveuploader/carrierwave/tree/v0.10.0

[2015-09-12 12:57] eavgerinos commented on #1730
@gautampunhani Hello there.

I can't  see what kind of usage this feature would have.

What I mean, once you have destroyed your record, you have no reference to the uploaded file, thus, it's unusable for the application.

IMHO, a case like the one you describe must be solve in the application level.

[2015-09-12 14:39] micahalcorn commented on #1732
@eavgerinos thanks. Sorry, I wasn't familiar with tags.

[2015-09-12 14:39] #1732 closed

[2015-09-13 04:17] gustavoschmidt commented on #1730
My idea is to never delete any files, so we can revert changes in case of a bug. I'm also using papertrail to have an audit-trail, so if I want to use a previous version of my model, that file will be already delete from storage.

But if it's not a common use case, I don't think it makes sense to add this config variable to carrierwave. Thanks @eavgerinos, I'm closing this issue.

[2015-09-13 04:17] #1730 closed

[2015-09-14 19:47] johnmcl commented on #1653
@glaubersantana - try adding ```serialize :photos``` to your product model

[2015-09-15 03:12] inket commented on #1733
+1

[2015-09-15 14:39] glaubersantana commented on #1653
@johnmcl great, thanks!

[2015-09-16 00:27] cipater commented on #1602
+1 `from_version` doesn't appear to be working. Which is to say that all versions look to be built off the original rather than version specified by `from_version`.

Given
[code]

The original file is 2.5MB. The optimized version is 900KB. And the large version is 1.8MB.

If the large version were in fact built from the optimized version, I would expect it to be smaller than 900KB, not twice the s

[2015-09-16 09:28] mrblackmountain opened #1741 "TypeError: no implicit conversion of Symbol into Integer in /.rvm/gems/ruby-2.2.3/gems/carrierwave-0.9.0/lib/carrierwave/mount.rb:155:in `[]='"
I'm using Carrierwave 0.9.0 with rmagick (not the first project) and ran into a strange issue:

I do have an Upload Model with a :file and an :image attribute. I mounted two Uploaders and everything worked as expected. This is what the Model looked like. Nothing special there, except some attr_accessor for cropping:
[code]
 At some point I decided to refactor the code since I either use the :file

[2015-09-18 10:36] xuloo opened #1742 "Calling version of already-uploaded file doesn't store the conversion"
I have an uploader with this version:

[code]

(the gif? method reliably identifies a gif (this isn't the problem).)

the application has recently stopped users uploading gifs - so we're having to deal with gifs that were uploaded before the ban when creating a PDF with prawn. So now, when requesting an image we check to see if the original image was a gif, if so we redirect them to the 'png' vers

[2015-09-20 05:54] randoum opened #1743 "CarrierWave.root not updating"
Found this bug while trying to use `CarrierWave.clean_cached_files!` from a rake task with a custom `CarrierWave.root` path. Trimmed it down to the following step by step that can be reproduced on a new project:

Create a new project, and create a *config/initializers/carrier_wave.rb* with content:
[code]

The output is:
[code]

Unlike what would be expected, `config.root =` does not update the va

[2015-09-21 02:25] krismp opened #1744 "produce generated url for STI class"
I have 1 STI class inherits from `User` class

    class User < ActiveRecord::Base
      mount_uploader :avatar, AvatarUploader
    end

    class Staff < User

    end

but when I looping all the staffs user including the image url like this:

**controller**

    @staffs = Staff.all

**view**

    <ul>
    <% @staffs.each do |staff| %>
    <li>
      <%= staff.name %>
      <%= image_tag staff.av

[2015-09-21 09:49] cloudy9101 commented on #1704
me too.  Do you solve it?

[2015-09-21 09:49] cloudy9101 commented on #1704
Me too. Have you solve it?

[2015-09-22 12:19] casiodk commented on #1158
might this work?
http://stackoverflow.com/questions/9956712/use-cdn-with-carrierwave-fog-in-s3-cloudfront-with-rails-3-1#answer-22751020

[2015-09-23 09:40] tobiasfeistmantl opened #1745 "Cannot set quality"
I've implemented the feature from the WIKI (src: https://github.com/carrierwaveuploader/carrierwave/wiki/How-to%3A-Specify-the-image-quality) but even with a quality of 10, the filesize is still 1.5MB as before.

Do I have to do additional configuration or is this a bug?

[2015-09-25 21:11] olivierlacan opened #1747 "Check for column existence before raising seemingly unrelated errors?"
Would you accept a PR that adds AR column checking to `CarrierWave::ActiveRecord#mount_uploader` or is that a bad idea?

This is a very obtuse error and I doubt I would have figured out I forgot to run `rake db:migrate` a few years back:
[code]

PS: after a cursory Google check there seems to be a bunch of people wondering why AR dynamic methods are causing exceptions, so I think this might help o

[2015-09-25 21:41] olivierlacan commented on #1747
This is a really dumb/naive implementation of what I mean: https://github.com/olivierlacan/carrierwave/commit/6c62250a46e7857d78ee449f05ab560e143563fa

That might help gauging how insane this is. Obviously calling `connection` this early might be an issue but I found that this only raises when an AR object is instantiated anyway.

[2015-09-27 09:48] nisanth074 commented on #1215
I'm working on a pull request. As @DenzelMorris suggested, I wish to split `fog_public` into two options, `fog_serve_public` and `fog_upload_public`. To maintain backward compatibility, I plan to change `Uploader#fog_public=`, `Uploader#fog_public` to
[code]

@bensie Thoughts?

## My Use Case
Here's the issue I faced last month. We upload all our files to s3 as private files. We use s3's bucket po

[2015-09-28 17:05] xdougx opened #1748 "Theres no mount_uploaders on version 0.10.0?"
Got this error `undefined method 'mount_uploaders' `
with this backtrace:
[code]
With this class:
[code]
Version 0.10.0 has no support for it?
Which version i need to use?

[2015-09-28 17:23] eavgerinos commented on #1748
@xdougx Master branch. The README at master refers to the master branch only.

For 0.10.0 see [here](https://github.com/carrierwaveuploader/carrierwave/tree/v0.10.0)

[2015-09-28 17:23] #1748 closed

[2015-09-28 17:36] xdougx commented on #1748
If I need to user
gem 'carrierwave', github: 'carrierwaveuploader/carrierwave', branch: 'master'
is this the right way?

[2015-09-28 19:47] brunoadacosta opened #1749 "how i use remote_asset_url with a proxy?"
how i use remote_asset_url with a proxy?

[2015-09-28 20:34] eavgerinos commented on #1747
@olivierlacan Hello. Thanks for pointing this out.

I'm not quite sure about the check for column.

I have 2 considerations about this change:

- Maybe some people use a virtual attribute for this by hacking the `ActiveModel::Dirty`.
- If we are about to check it, I believe that `ArgumentError` is the proper error to raise.

What do you think?

[2015-09-28 20:39] eavgerinos commented on #1749
@brunoadacosta Hello there.

I don't really understand your question. Also, for __usage questions please post to StackOverflow__.

[2015-09-28 20:39] #1749 closed

[2015-09-28 22:52] louism2 opened #1750 "store! method not called when saving parent object"
Hey guys, fairly vanilla implementation of CarrierWave where my store! method is not being called.  Any idea why?

http://stackoverflow.com/questions/32726812/carrierwave-with-activeresource-custom-storage-engine

[2015-09-29 14:48] stephankaag commented on #1733
+1

[2015-10-02 20:50] nacengineer commented on #1704
AFAIK its all or nothing... same thing with [refile](https://github.com/refile/refile#multiple-file-uploads) unfortunately. the joys of file uploading via the web

[2015-10-04 23:44] ajsharp opened #1751 "Add support for imagemagick's crop functionality"
To my knowledge, the only way to take advantage of this functionality is something like what I've outlined here: http://frothlogic.com/blog/2015/10/03/cropping-with-carrierwave/. It would be great if you could do this directly through the pre-supported carrierwave helpers.

[2015-10-05 07:37] ajsharp commented on #1751
Nevermind, forgot `resize_to_limit` did cropping for you.

[2015-10-05 07:37] #1751 closed

[2015-10-07 12:56] fabn commented on #1733
+1000 for this. Who can do that?

Saw #1574 and #1661 and both seems solved.

@bensie Do you think current master it's ready to be released?

If not tell us how can we help to get this in rubygems.

[2015-10-08 13:00] jmuheim commented on #1673
I have a similar problem. In my situation, the image is only removed, when also another attribute is changed, so I guess it has something to do with the attrs_changed? mechanism...

[2015-10-08 15:48] jmuheim opened #1752 "@user.avatar is not updated when it's changed by a feature spec"
I have the following spec:

      visit edit_user_registration_path
      check 'user_remove_avatar'
      fill_in 'user_current_password', with: 's3cur3p@ssw0rd'

      expect {
        click_button 'Save'
        @user.reload
      }.to change { File.basename @user.avatar.to_s }.from('image.jpg').to eq ''

This doesn't work, I have to explicitly use `User.last` (`@user` is the only user that exi

[2015-10-13 02:37] jpmcgrath commented on #1733
+1 here. Wanting to use the multiple file uploader. Thanks!

[2015-10-13 02:39] bensie commented on #1733
Milestone is here: https://github.com/carrierwaveuploader/carrierwave/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Release+v1.0.0%22

[2015-10-13 02:39] #1733 closed

[2015-10-13 02:46] jpmcgrath commented on #1733
Ok, so if I understand correctly. once those 3 milestone issues are resolved, the v1.0.0 can be released. Thanks for the update.

[2015-10-13 02:49] inket commented on #1733
Right from OP:

Those issues are going to take ages, by the way.

[2015-10-13 02:54] bensie commented on #1733
We'd love all your help! +1 comments are the opposite of helpful.

There will not be a 0.11.0 release. Stick with `master` if you need the latest in the meantime.

[2015-10-13 02:58] bensie opened #1755 "Add "official" documentation for using multiple file uploads with SQLite / MySQL"
Serialized column + string column...

[2015-10-13 03:06] bensie commented on #1745
Please post usage questions to Stack Overflow.

[2015-10-13 03:06] #1745 closed

[2015-10-13 13:55] kuraga commented on #1737
@bensie , ping

[2015-10-13 17:43] mrbrdo commented on #1737
:+1: could we get this guy access to that repo?

[2015-10-13 18:01] bensie commented on #1737
@kuraga I've added you as a collaborator on carrierwave-sequel.

[2015-10-13 18:04] kuraga commented on #1737
Wow, thanks! Wait me tomorrow! :smile:

I'll close this after publishing new version of `carrierwave-sequel`.

[2015-10-13 19:46] mrbrdo commented on #1737
I think you won't be able to publish to Rubygems yourself, that's a separate credential I think :)

[2015-10-13 19:49] bensie commented on #1737
I don't have Rubygems access for carrierwave-sequel either...

/cc @jnicklas @trevorturk

[2015-10-13 19:49] #1737 closed

[2015-10-13 19:52] trevorturk commented on #1737
I have access -- let me know what you'd like me to do, @bensie -- add you? to multiple gems?

[2015-10-13 22:15] bensie commented on #1737
@trevorturk That'll work for now, just need carrierwave-sequel. Thanks!

[2015-10-14 02:29] rbonick commented on #1755
Definitely agree documentation on this needs added... spent over an hour trying to figure this out thanks to a sqlite3 database.

[2015-10-14 15:00] trevorturk commented on #1737
@bensie ok I think you're all set!

[2015-10-15 12:44] take opened #1756 "A way to save dimensions etc into json column(when multiple file per record)"
So I saw the [multiple file upload doc](https://github.com/carrierwaveuploader/carrierwave#multiple-file-uploads) and the [dimension saving doc](https://github.com/carrierwaveuploader/carrierwave/wiki/How-to%3A-Get-image-dimensions).

I was wondering if there's a way to combine these two.

I guess by saving attributes inside the json column? so the json column will be something like:

[code]

is i

[2015-10-16 13:45] randoum commented on #1743
@bensie any insights? Thanks

[2015-10-16 16:12] bensie commented on #1737
thanks!

[2015-10-16 21:25] brunoadacosta commented on #1749
have any thing how i use proxy for external calls with carrierwave?

[2015-10-19 12:32] daveomcd commented on #1642
I've run into this issue now also.  Not exactly sure what my options are to resolve this... can anyone explain?  @eavgerinos, why wouldn't I want to unscope everything?  I know you mention that it would be too aggressive but what types of problems might it cause me? Thanks!

[2015-10-20 16:58] 3zone opened #1757 "build same filename (md5) for all versions and original on S3"
In a Rails4 app I have a model with an uploader which use legacy fields from Paperclip:

    class Location < ActiveRecord::Base

      mount_uploader :logo, LocationLogoUploader, mount_on: :logo_file_name

    end

in the uploader I use MiniMagick to generate some versions

    class LocationLogoUploader < CarrierWave::Uploader::Base
      include CarrierWave::Compatibility::Paperclip
      inclu

[2015-10-22 12:40] lulalala commented on #1717
@mariusbutuc I tried on my end:

[code]

This is when asset_host is not set.

Are you sure your image.path is outputting the url not the file path on your system?

[2015-10-22 19:58] kuraga commented on #1737
@bensie @mrbrdo Good day!

I tagged [0.1.1 version](https://github.com/carrierwaveuploader/carrierwave-sequel/releases/tag/v0.1.1). Can you push it to RubyGems, please?

Thanks!

[2015-10-22 20:04] bensie commented on #1737
@kuraga done!

[2015-10-22 20:24] kuraga commented on #1737
Thanks!

[2015-10-23 20:36] edatrix commented on #1673
Just ran into this issue and spent some time debugging before realizing that it's been fixed on master.  Rails' dirty tracking doesn't seem to jive well with nested forms here, but if you update your gemfile to track master it solves the problem. :+1:

[2015-10-25 20:36] webattitude opened #1759 "multiple directories : one for each engine"
Hello, is it possible to have a different fog configuration for each engine mounted on the main application ?
typically I'd like each engine to upload to its own bucket.

[2015-10-26 08:00] jmuheim commented on #1673
Thanks, @edatrix. In my case, it suddenly worked without setting branch to master. Don't know why.

[2015-10-26 16:54] defsprite commented on #1698
If you refer to carrierwave in a `gemspec` switching to master is not really an option. We worked around this in our shared gem creating a `lib/fog.rb` containing the following:

[code]

Which allowed us to happily depend only on `fog-aws` with `carrierwave = 0.10.0`. So far it seems to work, but we haven't looked too deeply into it. YMMV.

[2015-10-26 19:03] Chaseph opened #1760 "How to change location of newly uploaded files, without changing location of existing files?"
I'd like to change the directory and add a cache-busting token to newly uploaded images. I tried the following:

[code]
but this results in the url of existing images getting changed as well.

Is there any way to only change the path of new images, without breaking old images?

[2015-10-26 21:45] juanpastas opened #1761 "Directory problem"
I am getting:

[code]

with this config:

[code]

`ENV["fog_directory"]` is `myapp-staging1` on server console.

Why I could be getting a repeated part in `myapp-staging1.myapp-staging1.s3-us-west-2.amazonaws.com`?

I also created an issue on [fog](https://github.com/fog/fog/issues/3734). And a [gist](https://gist.github.com/juanpastas/eea1b7b236b35835ebc2) with the entire trace.

[2015-10-27 13:20] webattitude commented on #1759
Ok, I'm overriding `initialize` in each engine based uploader.

[2015-10-27 13:22] plribeiro3000 commented on #1759
@webattitude So did you make it work or you had to actually patch something?

[2015-10-27 14:48] webattitude commented on #1759
It looks like I can override fog_directory in each uploader #initialize method, so I'm doing like this right now. It is not tested yet.

[2015-10-27 15:45] plribeiro3000 commented on #1759
I believe this is not the way to go. It seems `carrierwave` need some patching.

I will leave this open. If someone else think differently please close it.

[2015-11-02 22:52] chhhris opened #1764 "How to add files without removing existing files on :update"
There's this answer on the Wiki (https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-keep-(not-replace)-files-on-nested-edits) however I'm not using `nested_form`, `simple_form` nor `haml` so having a hard time following the logic there.

Seems like the major use-case is avatars, so I understand why you might want to replace the existing file when uploading a new one, but I don't want

[2015-11-03 02:33] raphaelcm opened #1765 "remote_image_url doesn't save when using a query string"
Background:

We have a model, `User` with `mount_uploader :avatar, AvatarUploader, mount_on: :avatar_filename`.

Steps to reproduce:

[code]

[code]

[2015-11-03 02:37] raphaelcm commented on #1765
Nevermind.

There was a redirect to `https`. As soon as I specified `https` in the assignment of `remote_avatar_url`, it worked.

[2015-11-03 02:37] #1765 closed

[2015-11-03 17:48] plribeiro3000 commented on #1761
See fog/fog#3734 to find the resolution. Closing due feedback that seems to be a misconfiguration.

Thank your for your feedback!

[2015-11-03 17:48] #1761 closed

[2015-11-05 07:25] ajoseerazo opened #1767 "Files are not copied to destination folder, remains in tmp folder when using multiple uploading and mongoid"
I'm trying to upload multiple files. My model is written in MongoID. I've tested using not multiple option for uploading and works, but when in try to use multiple files, the files are uploaded but remains in tmp folder, are not copied to destination folder.

I'm doing exactly the same example of the wiki for multiple files but using mongoID insteand of ActiveRecord. What could be the issue?

[2015-11-07 15:11] raphaelcm opened #1768 "validate remote url response, not the url itself"
I'm trying to upload remote images that are retrieved with urls of the form:

https://foobar.com/friends/photos/?id=405534

This retrieves a perfectly valid JPEG:

![download](https://cloud.githubusercontent.com/assets/929080/11015732/adccd4f8-8537-11e5-814a-e1d82f5730a2.jpeg)

However, Carrierwave throws an error because it validates the URL string, rather than the response from retrieving the ur

[2015-11-07 15:27] raphaelcm commented on #1768
The response specifies `Content-Type: image/jpg` which seems like a much more sensible thing to validate on.

[2015-11-09 17:30] alereisan opened #1769 "Carrierwave multiple file upload: Unpermited Parameter: pictures"
I am trying to use the multiple fileupload functionality of Carrierwave. But I am still getting ``unpermitted parameter: pictures`` - and the files dont get saved..

I have followed the documentation in the readme and I also have added pictures to the params (in my case auction_params):

[code]

the console output when I am trying to upload two pictures:

[code]

When I try the following:

[code]

[2015-11-10 21:41] #1769 closed

[2015-11-11 01:29] jorgeandresserrano commented on #1704
Hi guys, any advance on this one?

[2015-11-11 16:42] amilano commented on #880
This would be really useful, unless I'm missing a way to identify which version just launched the current after :store callback.

I need something similar for when recreate_version! is called, I've been looking around if there's a way to know when the recreation finished processing and uploading back to AWS every single recreated version of a file.

[2015-11-12 07:04] kapso opened #1770 "Filename gets saved without the image getting uploaded"
Given the following Model & Uploader

[code]

...when I do `user.save!` it also saves the filename in the `avatar` column of user model, even though the image/avatar hasnt been uploaded yet. Is that expected behavior? How can I avoid that?

This is bad because now filename is present, but the image is not uploaded, meaning the URL will be broken. `user.avatar.present?` is always `true` ?

[2015-11-12 09:08] desmondhume commented on #1760
Same problem here. Any solution so far?

[2015-11-14 23:13] webattitude opened #1771 "access array key of file when using mount_uploaders"
Is there a way to get the index of the file so I could use it in filename ?
Or any increment value instead ?

[2015-11-16 17:08] thomasfedb commented on #1064
@chrhansen if you believe that you have found a genuine bug, rather than a design choice, please report a new issue.

[2015-11-16 17:08] #1064 closed

[2015-11-16 17:09] #1237 closed

[2015-11-16 17:10] thomasfedb commented on #1259
@KieranP if this is still an issue that needs to be fixed please request this issue be reopened.

[2015-11-16 17:10] #1259 closed

[2015-11-16 17:12] thomasfedb commented on #1287
@KazuhiroIwata this appears to be an issue with the header received from Google, rather than an issue in Carrierwave. I feel that obeying the `content-disposition` is reasonable. As noted by @VladimirMikhailov, there are workarounds for when the headers should be ignored.

[2015-11-16 17:12] #1287 closed

[2015-11-16 17:15] thomasfedb commented on #1349
@shekibobo If you believe this is a bug, please submit a new issue. New features are welcome if you are able to provide an implementation.

[2015-11-16 17:15] #1349 closed

[2015-11-16 17:16] thomasfedb commented on #1310
If this feature is still required please request this issue be reopened.

[2015-11-16 17:16] #1310 closed

[2015-11-16 17:18] #1458 closed

[2015-11-16 17:18] #1527 closed

[2015-11-16 17:19] thomasfedb commented on #1527
@venkatasubbaiah this is a feature request, are you able to provide an implementation?

[2015-11-16 17:19] thomasfedb commented on #1385
This appears to be a design choice rather than a bug.

[2015-11-16 17:19] #1385 closed

[2015-11-16 17:22] thomasfedb commented on #1760
@Chaseph I would recommend moving the existing uploads, rather than splitting the locations. Otherwise, you could try a technique involving `model.created_at` to determine the correct filename for a particular upload.

[2015-11-16 17:22] #1760 closed

[2015-11-16 17:26] thomasfedb commented on #1653
Appears that this is not an issues that requires and changes in Carrierwave.

[2015-11-16 17:26] #1653 closed

[2015-11-16 17:29] thomasfedb commented on #1767
@ajoseerazo can you please provide your model and uploader code, or a minimum reproduction.

[2015-11-16 17:32] thomasfedb commented on #1747
@olivierlacan Please feel free to request this issue be reopened if you require.

[2015-11-16 17:32] #1747 closed

[2015-11-16 20:37] guy-silva opened #1773 "initial memory footprint is high"
Evaluating the memory footprint of the application I work on I've found out(using https://github.com/schneems/derailed_benchmarks) that carrierwave is  surprisingly the biggest memory eater of all (even more than rails).
by having a Gemfile
[code]
and running
[code]
you get something like
[code]
(the whole file can be seen at  https://gist.github.com/guy-silva/36ea146d7fd0eaf3c735 )

I can see it

[2015-11-18 06:42] thomasfedb commented on #1773
@guy-silva If you're able to provide any further analysis regarding the nature of excessive allocation by Carrierwave and/or suggestions on how to improve the gem's memory footprint then this might be able to be looked in to.

[2015-11-18 06:43] thomasfedb commented on #1752
@jmuheim Are you able to reproduce this outside of RSpec?

[2015-11-18 06:44] thomasfedb commented on #1736
@st0012 Are you able to provide a pull request to improve the error message?

[2015-11-18 06:47] thomasfedb commented on #1756
@take Have you tried? :smile: I'd suggest if you can't figure it out then you might want to try [Stack Overflow](http://stackoverflow.com/questions/tagged/carrierwave).

[2015-11-18 06:47] #1756 closed

[2015-11-18 08:00] st0012 commented on #1736
@thomasfedb Sure, I will work on it.

[2015-11-18 08:08] thomasfedb commented on #1676
It looks like #1656 will address this issue.

@mjr I'm going to close this issue, but if the PR I've mentioned above doesn't fix your issue feel free to comment for me to reopen.

[2015-11-18 08:08] #1676 closed

[2015-11-18 08:09] thomasfedb commented on #1673
If this is still a problem please open a new issue with a minimal reproduction.

[2015-11-18 08:09] #1673 closed

[2015-11-18 08:11] thomasfedb commented on #1685
@BenSwennen Please submit a pull request, including a failing testcase as well as your fix.

[2015-11-18 08:11] #1685 closed

[2015-11-18 08:16] thomasfedb commented on #1665
@djohnson Feel welcome to submit a pull request with your `destroy_orphaned_files` implementation. Otherwise I'm going to close this issue for now.

[2015-11-18 08:16] #1665 closed

[2015-11-18 08:21] thomasfedb commented on #1662
@plribeiro3000 Have you had a chance to look into this issue?

[2015-11-18 09:03] jmuheim commented on #1673
Doesn't seem to be a problem anymore. Thanks.

[2015-11-18 09:43] Aetherus opened #1774 "Process XML files"
Recently I want to handle TMX (Translation Memory eXchange) file uploads. TMX is just XML. Since it the uploaded files can be huge, I want to provide a tiny preview version of the original. I'm struggling with it. Here is my code:

**app/models/tmx.rb**

[code]

**app/uploaders/tmx_uploader.rb**

[code]

Every time I upload a TMX file, there is a preview version, but it's identical to the original

[2015-11-18 11:32] plribeiro3000 commented on #1662
@thomasfedb Sorry. I forgot about this issue. I won't be able to tackle it for next couple of weeks. =s

[2015-11-18 16:26] george1minus1 opened #1776 "Changing storage from :file to :fog"
Hi Guys,

I've been using carrierwave hassle free for some time now, so thank for a great gem.

As is traditional the customer requirements have changed, and now all storage is to be on S3. I've got that work fine. My question is, how do I get existing file based uploaders migrated to a fog based version.

I've tried using `recreate_versions!` but I get the following error

[code]

Any suggestions

[2015-11-19 16:50] thomasfedb commented on #1774
As far as I can tell @Aetherus, the return value of the processing methods is not used.

See here: [lib/carrierwave/uploader/processing.rb#L73](https://github.com/carrierwaveuploader/carrierwave/blob/1e4e7b0bf20fee70d8ac3815d0921144f39e14cf/lib/carrierwave/uploader/processing.rb#L73)

[2015-11-19 16:57] thomasfedb commented on #1776
Are you able to provide the code that produces this error?

[2015-11-19 18:46] eltiare opened #1777 "Storing temp files on fog"
We're running a couple of servers now and are having trouble with temp files disappearing. Everything in carrierwave is stored using fog+S3. I'm digging into the code now to see if there's any way we can get temp file uploads shared across server instances. Anything you can do to point me in the right direction?

[2015-11-19 19:04] eltiare commented on #1777
Nevermind, I see that it's in the latest code. `config.cache_storage = :fog` Seems to work OK. It's been a while since the latest stable release, any idea when then next one will be?

[2015-11-19 19:04] #1777 closed

[2015-11-20 22:37] webattitude opened #1778 "fog : url mismatch with real remote file"
consider the following parent uploader :
[code]
and the following child uploader :
[code]
(please ignore fog_public and https scheme)

the uploader is mounted as follow :
[code]
when I upload this file :
`st.cover = File.new('/home/tom/Téléchargements/bulkypix_1.jpg')`
I have the following :
[code]
because `st.ttitle` is _Bulkypix_
yet the uploaded file url is `http://.../1/cover/diaporama_bulkypi

[2015-11-20 22:43] webattitude commented on #1778
well, wait I have to check something...

[2015-11-20 22:43] #1778 closed

[2015-11-20 23:16] webattitude commented on #1778
OK, nevermind... dunno what happened..
I getting back to only one uploader, it's working... less complicated

[2015-11-22 06:30] thomasfedb commented on #1741
Hi @mrblackmountain could you please update to the latest version of carrierwave and see if this is still an issue.

[2015-11-22 06:30] #1741 closed

[2015-11-22 06:33] thomasfedb commented on #1689
Hi @pywebdesign I'd be very interested in a pull request to change this behaviour. In the meantime, I'm going to close this issue as there isn't a bug here.

[2015-11-22 06:33] #1689 closed

[2015-11-24 10:07] philister opened #1780 "large file is going to blow memory"
I believe the commit 927479c84e968ed03546c7fdd16107beeb771a22 (PR #1517 and issue #1338) leads to a memory-problem when uploading large files:
I guess `file.read` reads the complete file-content into memory. Fog can not "stream" the file from disk, using the multipart-feature correctly (when set `fog_attributes[:multipart_chunk_size]`)
At least, when I revert this commit, my large files (more GB t

[2015-11-24 15:09] ch3m1c opened #1782 "Moving from single file to multiple files, how to migrate?"
Hello guys,

I've got multiple files upload working, created another field in database for it, renamed/refactored uploader etc. But now there's a question, how to properly migrate old data, what's stored under attachment to newly created attachments (files and also database)

Thanks alot!

[2015-11-24 16:52] bensie commented on #1736
Closed by #1779

[2015-11-24 16:52] #1736 closed

[2015-11-25 02:02] thomasfedb commented on #1780
Hi @philister, can you provide an example of an uploader that exhibits this issue?

[2015-11-25 11:26] philister commented on #1780
Gemfile.lock (excerpt)
[code]
animal.rb
[code]

rails c
[code]

[2015-11-25 17:47] tacnoman commented on #619
I made downgrade to version 1.36 and worked for me.

[2015-11-26 04:40] thomasfedb commented on #1780
@philister Can you provide a full stack trace please?

[2015-11-26 05:03] thomasfedb commented on #1774
I'm going to close this issue, as due to no reply from @Aetherus, particularly given that this is a fairly corner-case usage.

[2015-11-26 05:03] #1774 closed

[2015-11-26 05:06] thomasfedb commented on #1564
@JakeTheSnake3p0 please include some code as to how you're using carrierwave to create these problematic results.

[2015-11-26 05:08] thomasfedb commented on #1388
@timherby @FabianOudhaarlem could you please provide a minimal reproduction of this issue with carrierwave 0.10.0.

[2015-11-26 05:09] thomasfedb commented on #1320
@bensie Your thoughts on this? Appears that it may be a fairly serious issue. Resolving it would be a breaking change, however.

[2015-11-26 05:37] arcwhite commented on #1320
I can give you an example payload, if that will help

[2015-11-26 10:13] popup-user opened #1783 "Will Carrierwave work with postgresql 9.4's jsonb data type?"
I'm interested in using carrierwave with Rails 4.2.4 with Postgresql 9.4 for "multiple file uploads" - and I see in the example, you use a json field. Would it work with a jsonb field, instead - I'd like to use one.

Thanks!

[2015-11-26 10:20] thomasfedb commented on #1783
From the PostgreSQL docs:

Sounds that, as far as DB users are concerned, that `jsonb` should work about the same as `json`.

I'd suggest you give it a go @popup-user, let us know how you go.

[2015-11-26 10:20] #1783 closed

[2015-11-26 10:23] popup-user commented on #1783
Thanks for the quick reply -- I'll give it a try!

[2015-11-26 14:28] #1767 closed

[2015-11-26 14:30] thomasfedb commented on #1764
@chhhris if you can provide an example of what you've tried so far, and in what way it doesn't work, then we'll have an easier time helping you.

[2015-11-26 14:33] thomasfedb commented on #1757
@3zone have you attempted to debug the issue at all? Presumably `Digest::MD5.hexdigest` is receiving different values to produce different digests.

Feel free to request this issue be reopened if you can show us how you this carrierwave is misbehaving.

[2015-11-26 14:33] #1757 closed

[2015-11-26 14:34] #1752 closed

[2015-11-26 14:39] thomasfedb commented on #1750
Hi @louism2 can you please provide the code of your uploader, storage engine, and an example of it producing the wrong behaviour?

[2015-11-26 14:42] thomasfedb commented on #1744
Hi @krismp

Please see the README section on [changing the storage directory](https://github.com/carrierwaveuploader/carrierwave#changing-the-storage-directory). You can use a reference to your `model` in order to use the model class to set the directory.

I would however advise against doing so unless you have an incredibly good reason to do so.

[2015-11-26 14:42] #1744 closed

[2015-11-26 14:49] thomasfedb commented on #1743
@randoum please try `pp CarrierWave::Uploader::Base` instead of `pp CarrierWave.root`.

[2015-11-26 14:50] thomasfedb commented on #1742
Any ideas @bensie?

[2015-11-26 14:51] thomasfedb commented on #1735
What are you trying to acheive @dylansm?

[2015-11-26 16:51] dylansm commented on #1735
I was having an issue where, if a form validation on another field failed, I wanted to show the cached image instead of the uploaded image. However, the path to the image was always for the intended upload location instead of the local cached image (but it never was uploaded—so it was a broken image). I never could get it to work so just wrapped it in my own condition.

[2015-11-26 16:51] #1735 closed

[2015-11-27 05:07] arcwhite commented on #1320
As an addendum: https://github.com/DarthSim/carrierwave-bombshelter fixes the underlying issue (e.g. memory exhaustion if the image file header claims it's, say, 64250x64250 pixels -- looks like we're not using ImageMagick's --limit option anywhere?)

[2015-11-27 10:20] philister commented on #1780
Added above.

[2015-11-27 14:23] thomasfedb commented on #1780
@bensie Are you able to look over this?

[2015-11-27 15:23] JakeTheSnake3p0 commented on #1564
Simply calling `object_instance.photo.url(:show)` yields `/for/someone's-lucky-day`, should yield `/for/someone%27s-lucky-day`.

[code]

[2015-11-27 15:28] thomasfedb commented on #1564
@JakeTheSnake3p0 definitely looks like a bug, could you provide a minimal case please?

[2015-11-27 17:14] popup-user commented on #1783
@thomasfedb I did as you said and gave it a go:  iThe answer is YES jsonb worked for me. I used carrierwave with my gemfile set to:
```gem 'carrierwave', github: 'carrierwaveuploader/carrierwave'```
with Postgresql 9.4.1.0.
my migration simply was:
```add_column :my_model, :photos, :jsonb```
Thanks!

[2015-11-27 17:26] thomasfedb commented on #1783
Great to know. Thanks @popup-user.

[2015-11-27 23:55] bensie commented on #1320
[carrierwave-bombshell](https://github.com/DarthSim/carrierwave-bombshelter) looks reasonable if you're concerned about this issue. Not all Rails apps are inherently vulnerable as stated above (not all process images, not all use ImageMagick).

This is a system/ImageMagick issue, not a CarrierWave issue. CarrierWave itself has no code that interacts with ImageMagick. The bombshelter gem chooses to

[2015-11-27 23:55] #1320 closed

[2015-11-27 23:59] bensie commented on #1780
This definitely seems problematic, though I'm not sure when I'll have time to dig in and take a look.

[2015-11-28 07:59] radiocontroller opened #1784 "multiple file uploads failed"
error messages:
TypeError in PostsController#create
no implicit conversion of nil into String

ruby2.2.3 + rails4.2.0 + postgres

controller:
def create
    @post = Post.new(post_params)
    if @post.save
      redirect_to posts_path
    else
      render :new
    end
  end

private

    def post_params
      params.require(:post).permit(avatars: [])
    end

view:
<%= form_for @post do |f| %>
  a

[2015-11-28 08:01] #1784 closed

[2015-11-28 08:04] radiocontroller opened #1785 "multiple file uploads failed with no implicit conversion of nil into String"
Error messages:
[code]

Ruby 2.2.3 + Rails 4.2.0 + PostgreSQL

**Controller**
[code]

**Model**
[code]

**View**
[code]

**Migration**
[code]

[2015-11-28 10:17] thomasfedb commented on #1785
Hi @radiocontroller, you need to use `mount_uploaders` to use multiple files.

[2015-11-28 10:17] #1785 closed

[2015-11-28 10:19] thomasfedb commented on #1782
Hi @ch3m1c. I'd suggest that you follow the following migration pathway:

1. Add `attachments` to your database and add `mount_uploaders :attachments`
2. Write a migration to move existing files from `attachment` to `attachments`
3. Remove the old `attachment` column and uploader mount.

Hope this helps!

[2015-11-28 10:19] #1782 closed

[2015-11-28 10:21] thomasfedb commented on #1727
@phuongnd08 can you please submit this as an issue to [sorentwo/carrierwave-aws](https://github.com/sorentwo/carrierwave-aws).

[2015-11-28 10:21] #1727 closed

[2015-11-28 10:21] thomasfedb commented on #1727
Note that AWS is also supported via Fog.

[2015-11-28 10:24] thomasfedb commented on #1717
@mariusbutuc to clarify:

- `path` returns the path of the file on your system.
- `url` returns a relative URL which you should use in your views, etc.

If you can provide a concrete example to the contrary, please let us know.

[2015-11-28 10:24] #1717 closed

[2015-11-28 10:26] thomasfedb commented on #1669
Hi @robinsingh-bw. Can you please provide a minimal replication case so we can look into this further.

[2015-11-28 10:28] #1613 closed

[2015-11-28 10:33] thomasfedb commented on #1520
If there is a still an issue with MiniMagick compat. please open a new issue.

[2015-11-28 10:33] #1520 closed

[2015-11-28 10:35] thomasfedb commented on #1362
@synoptase Is this bug still present in the latest version of carrierwave?

[2015-11-28 10:37] thomasfedb commented on #1333
If this issue persists please request this issue be reopened.

[2015-11-28 10:37] #1333 closed

[2015-11-28 10:37] thomasfedb commented on #1164
May be related to #1602.

[2015-11-28 10:40] thomasfedb commented on #1519
The fix is likely to run `recreate_versions!`, once you've ensured that the processing can run successfully.

[2015-11-28 10:40] #1519 closed

[2015-11-28 10:41] thomasfedb commented on #1663
@naveed-ahmad This is not something we're planning to support in carrierwave. Sounds like you need a CDN.

[2015-11-28 10:41] #1663 closed

[2015-11-28 10:45] thomasfedb commented on #1771
@bensie I don't think this is possible, but seems like a sensible thing to be able to do. At minimum we should provide some sort of unique id (ordered or not) for uploads mounted with `mount_uploaders`.

[2015-11-28 10:46] thomasfedb commented on #1770
@kapso Can you provide your controller code also, or wherever it is that you're calling `save!`.

[2015-11-28 10:47] thomasfedb commented on #1759
@plribeiro3000 Do you want to specify what you thinks need to be changed?

[2015-11-28 12:11] ch3m1c commented on #1782
2. Write a migration to move existing files from attachment to attachments
everything else works already, this is a question.. how to write proper migration to move existing files from attachment to attachments + make changes in database at the same time

[2015-11-28 16:57] synoptase commented on #1362
Haven't updated my carrierwave gem lately. Don't plan to until at least january.

[2015-11-29 09:52] wraithseeker opened #1786 "[Feature] Carrierwave Remote URL basic auth & proxy"
Is it possible for us to customize the params open-uri takes in such a way that a proxy / basic auth can be used for Carrierwave Remote URL? I can't find any methods to do this in the wiki.

[2015-11-30 01:02] thomasfedb commented on #1782
[code]

[2015-11-30 01:03] thomasfedb commented on #1362
@synoptase what version are you using?

[2015-11-30 01:05] thomasfedb commented on #1786
Hi @wraithseeker, I'd be very happy to look at a pull request that provides this functionality, although I can't promise that we'd decide to include this in Carrierwave. Carrierwave isn't really a downloading tool.

Perhaps it would be easier to download the file with `Net::HTTP` and then let Carrierwave handle the storage.

[2015-11-30 01:05] #1786 closed

[2015-11-30 01:11] thomasfedb commented on #1662
Hey @plribeiro3000, do you think you'd be able to look into this issue this week perhaps?

[2015-11-30 19:30] timherby commented on #1388
Thanks for the follow-up.  We actually switched to a different solution using carrierwave only for upload and [ImgIx](https://www.imgix.com/) for resizing/formatting.  So we no longer need this.

[2015-12-01 08:45] maikokuppe opened #1789 "Multiple files: Array of filenames instead of single filename in path string"
I have a setup like this:
[code]
Adding pictures and saving works fine. But calling `user.pictures.first.path` e.g. returns something like
[code]
I see no way to access the file itself (to get an md5 checksum) without too much hacking.
`user.pictures.first.file` has the same problem since it uses the same path.

[2015-12-01 12:04] thomasfedb commented on #1789
@maikokuppe please explain the whole series of events that leads to the result from `user.pictures.first.path` that you've described.

[2015-12-01 12:19] maikokuppe commented on #1789
[code]

[2015-12-01 12:49] plribeiro3000 commented on #1662
This seems to be an issue on `fog-aws` side. Could you try to use the latest versions of both `fog-core` and `fog-aws`?

If it still don't work, please open this against `fog-aws` because there will be more people with background on this to help you out then here.

[2015-12-01 12:56] plribeiro3000 commented on #1662
Are you using `activerecord` or mongoid?

[2015-12-01 14:51] bmedici commented on #1404
Any new on this fix?  Still having the same probleme when Grape use ActiveSupport::JSON.to_json to generate its output and crashes...

[2015-12-01 15:32] thomasfedb commented on #1789
Where do `"first"` and `"second"` come from @maikokuppe?

[2015-12-01 15:36] maikokuppe commented on #1789
`u.pictures` is an array. If you use `u.pictures[0].path`, the result will be the same.

[2015-12-01 15:43] maikokuppe commented on #1789
I updated the filenames in the first post.
In fact I generate random filenames, when a file is fetched; I just wanted to simplify the example a bit.
I tested the updated code and it yields the same result.

[2015-12-01 15:56] thomasfedb commented on #1789
Okay, thanks @maikokuppe.

[2015-12-02 17:12] san commented on #1662
FWIW, I was using `activerecord` when I ran into this issue. I have, since then, reverted back to the previous version.

[2015-12-02 17:19] plribeiro3000 commented on #1662
Of which project did you revert back? Carrierwave?

[2015-12-02 17:32] san commented on #1662
Yes, Carrierwave. I reverted back to the released version instead of the master branch.

[2015-12-02 17:55] plribeiro3000 commented on #1662
Ok. So the problem is on the master branch.

I will take a look later but it might be somewhere around the changes [here](https://github.com/carrierwaveuploader/carrierwave/compare/v0.10.0...master#diff-9bc2a587d40405f3cdedac450914c11e)

[2015-12-02 17:57] plribeiro3000 commented on #1662
Actually, it is not related to any `fog` changes at all.

Need to take a deeper look at [this changes](https://github.com/carrierwaveuploader/carrierwave/compare/v0.10.0...master#diff-6e0806a37c95931f5def08227427cadf)

[2015-12-03 13:44] KinSai1975 opened #1790 "Problem issue for multiple upload"
<b>In my form:</b>
<%= form_for@service, :html => {:multipart => true} do |f| %>
<%= f.file_field :photo, :mutiple => true, name: "service[photo][]" %>
<% end %>

<b>in my model:</b>
mount_uploaders :photos, PhotoUploader

<b>answer from server:</b>

ActionDispatch::Http::UploadedFile:0x007fd2584c2278 @tempfile=#
Tempfile:/tmp/RackMultipart20151203-5746-18g2zwr.jpg, @original_filename="brico.jpg",

[2015-12-03 15:36] synoptase commented on #1362
Something like this:
[code]

[2015-12-04 04:40] thomasfedb commented on #1362
Thanks @synoptase, you're using the latest version.

[2015-12-04 04:43] thomasfedb commented on #1790
@KinSai1975 this is not sufficient information to determine what issue you are experiencing. We need you to explain (in words) what is the behaviour you're expecting, how the actual behaviour different, and what you've tried to investigate the issue.

[2015-12-04 04:43] #1790 closed

[2015-12-04 04:44] thomasfedb commented on #1662
@plribeiro3000 I'm going to leave this with you for now. Thanks for investigating! :sparkles:

[2015-12-05 16:28] popup-user commented on #1704
Yes, this is important for me, as well, thanks!

[2015-12-05 16:33] popup-user opened #1791 "Multiple File Upload from a local file"
I see how to automate a single file upload here - which is nice:
https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-%22Upload%22-from-a-local-file

But how would I automate multiple file uploads for a record when using "Multiple file uploads" with e.g:
[code]

[2015-12-06 15:48] tommiller1 commented on #653
Don't do config.storage :fog inside the initializer, it should be in the uploader.

[2015-12-07 00:59] thomasfedb commented on #1791
Have you tried anything?

[code]

[2015-12-07 08:43] popup-user commented on #1791
So this is what I've tried:

[code]
it works until the save!, when I get:
[code]

[2015-12-07 08:53] popup-user commented on #1791
I should also mention that my datatype is jsonb in postgresql 9.4! Perhaps I should switch to the Array datatype..

I get the same error when using:
[code]

[2015-12-10 15:45] adrianov commented on #1669
It seems to be Vagrant+VirtualBox bug with Ubuntu 14.04 running on top of Windows 10. I got the same problem.

[2015-12-10 16:05] thomasfedb commented on #1669
If it's not a carrierwave issue please take this up with the MiniMagick team.

[2015-12-10 16:05] #1669 closed

[2015-12-10 17:06] thomasfedb commented on #1791
Is this use-case supported @bensie?

[2015-12-10 17:07] thomasfedb commented on #1776
Closing due to inactivity.

[2015-12-10 17:07] #1776 closed

[2015-12-10 17:07] thomasfedb commented on #1770
Closing due to inactivity.

[2015-12-10 17:07] #1770 closed

[2015-12-10 17:08] thomasfedb commented on #1764
Closing due to inactivity.

[2015-12-10 17:08] #1764 closed

[2015-12-10 17:08] thomasfedb commented on #1750
Closing due to inactivity.

[2015-12-10 17:08] #1750 closed

[2015-12-10 17:08] #1743 closed

[2015-12-10 17:09] thomasfedb commented on #1734
Hey @Z-von-Bub, I'd suggest checking the filetype and only asking carrierwave to create thumbnails for images. Perhaps even use a separate uploader.

[2015-12-10 17:09] #1734 closed

[2015-12-10 17:12] thomasfedb commented on #1545
@Uelb In fact `<<` is a more sensible operator than `+=` as it implies appending to an existing collection, rather than assigning a new summation of the existing and new collections.

[2015-12-10 17:14] Uelb commented on #1545
<< implies appending a single element to a collection whereas += appends a collection to another one.
[code]

[2015-12-10 17:14] thomasfedb commented on #1342
@G0dwin would you consider submitting a pull request with your changes?

[2015-12-10 17:21] thomasfedb commented on #1545
@Uelb this is true, so in fact the right API would be `#concat`

[code]

[2015-12-10 17:23] Uelb commented on #1545
I totally agree with you :D !
concat would be the right way to go

[2015-12-10 17:50] ariera opened #1792 "custom filename with fog storage uploads the file with its original name"
I am having a problem when overriding the default `filename` method and using fog as a storage.

Whenever I add a file it is being uploaded to S3 with its original name, but in the database the new name is stored.

This is how my uploaded looks like:

[code]

and FogUploader looks like this:

[code]

This is what can be found in my Gemfile.lock regarding carrierwave:

[code]

Am i doing something

[2015-12-11 03:11] whitebeatle commented on #757
adding to what @cristiansorinel mentioned

<pre>
def image
   // this will provide height and width to any version of the image, like thumb, medium sizes
   // just do model.medium.image_width ...
   @image ||= MiniMagick::Image.open( file.file )
end
</pre>

[2015-12-11 04:35] maximski opened #1793 "Difference between .url and _url?"
What is the difference between the following two codes:

[code]

[2015-12-12 00:13] dexterouschen opened #1794 "Multiple files upload failed with Rails 4.2.5 and MySQL 5.7.9, MySQL2 0.4.2"
I've tried to follow https://github.com/carrierwaveuploader/carrierwave#multiple-file-uploads (which means I'm using master branch from Github) and produce the same effect but it seemed that uploaded files are not serialized correctly, thus the invalid JSON error. Both create and update won't work.

    ActiveRecord::StatementInvalid (Mysql2::Error: Invalid JSON text: "Invalid value." at position

[2015-12-12 00:32] thomasfedb commented on #1794
@dexterouschen we require a minimal reproduction of the issue you are experiencing in order to be able to investigate the issue. Have you done any debugging at all? What have you tried? Also, please be careful when formatting issue reports, take time to make it easy for us to help you.

Feel free to request this issue be reopened when you've addressed the above.

[2015-12-12 00:38] thomasfedb commented on #1793
Hi @maximski

As we can see [in mount.rb](https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/mount.rb#L151), the `_url` variant is simply a convenience method which should produce an identical result.

[code]

[2015-12-12 00:38] #1793 closed

[2015-12-12 00:48] dexterouschen commented on #1794
@thomasfedb I've tried to follow https://github.com/carrierwaveuploader/carrierwave#multiple-file-uploads and produce the same effect but it seemed that uploaded files are not serialized correctly, thus the invalid JSON error.

[2015-12-12 01:00] dexterouschen commented on #1794
@thomasfedb I wonder if I've described the issue clearly enough for it to be reopened.

[2015-12-12 02:26] maximski commented on #1793
Alright, thanks!

[2015-12-12 06:47] thomasfedb commented on #1794
@dexterouschen is there a reason that you're running on the carrierwave master branch?

[2015-12-14 21:45] dexterouschen commented on #1794
@thomasfedb I want to try out the multi-file upload functionality so I won't have to implement an intermediate layer to support the implementation in which a model can have multiple files associated to it. Now I've already switched back to my previous solution of intermediate layer and everything works fine. But it'd be nicer to have native support of this.

[2015-12-14 22:16] mattymess commented on #895
I'm on `0.10.0` and [this method from the wiki](https://github.com/jnicklas/carrierwave/wiki/How-to%3A-Recreate-and-reprocess-your-files-stored-on-fog) doesn't work for me. Throws one of the two errors below...

[code]

[2015-12-15 02:43] thomasfedb commented on #1794
As we were unable to get a minimal reproduction I'm closing this issue.

[2015-12-15 02:43] #1794 closed

[2015-12-15 02:44] thomasfedb commented on #895
@mattymess Please open a new issue, this issue relates to version 0.7.0.

[2015-12-15 02:50] thomasfedb commented on #1791
@popup-user can you please try:

[code]

[2015-12-15 02:50] #1773 closed

[2015-12-15 08:18] nathanpop commented on #1791
A great @thomasfedb ! It worked! I had switched to the postgresql Array type. Thanks so much!

[2015-12-15 08:27] nathanpop commented on #1791
I updated the wiki: https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-%22Upload%22-from-a-local-file . Cheers.

[2015-12-15 08:30] #1791 closed

[2015-12-15 08:52] nathanpop opened #1798 "Question: limits to the number of uploaded files with multiple file upload"
I see that there is a way on the backend to validate the _dimensions_ of files uploaded, but I wonder if
using the multiple file uploader, is there a straightforward way to limit the _number_ of allowed uploaded files to e.g: 3?

Thank you!

[2015-12-15 12:58] thomasfedb commented on #1798
I'd do this in your model rather than in your uploader.

[code]

[2015-12-15 12:58] #1798 closed

[2015-12-15 13:07] nathanpop commented on #1798
Cool. thx!

[2015-12-15 13:12] ariera commented on #1792
hey @thomasfedb, sorry to bother you, do you have an idea on what's going on?
is there something obviously wrong here? it looks to me that it should work, i'm a bit lost :-o

thanks a lot :)

[2015-12-15 14:29] thomasfedb commented on #1792
Hi @ariera, it does look like something has going wrong.

Could you try to work this into a minimal reproduction, then perhaps somebody will be able to investigate.

[2015-12-16 04:20] randoum commented on #1743
@thomasfedb

`CarrierWave::Uploader::Base = Rails.root.to_s`
gives
`warning: already initialized constant CarrierWave::Uploader::Base`

[2015-12-16 09:32] ariera commented on #1792
That was a good idea, thanks @thomasfedb.
After playing a bit and reducing it to the minimal I was able to pin point the culprit to this line:

`process :store_meta => [{md5sum: true}]`

But interestingly the problem is calculating the md5, not the rest of the metadata.
If i call the processor this way:

`process :store_meta`

everything will work as expected

[2015-12-16 11:51] megablend opened #1799 "Having two mount_uploader micro methods in a model"
Hi Guys,
is there a way this can be achieved with a single model attribute?

mount_uploader :file_name, TemporaryEpubFileUploader, if: :is_epub_file
mount_uploader :file_name, ProductsImagesUploader, if: :is_cover_image

[2015-12-16 12:21] thomasfedb commented on #1799
@megablend if it can be achieved it is certainly not supported. Perhaps try StackOverflow.

[2015-12-16 12:21] #1799 closed

[2015-12-16 14:48] thomasfedb commented on #1743
@randoum I never suggested attempting to assign to `CarrierWave::Uploader::Base` - clearly it's a constant, and quite an important one.

Rather, give this a go:

[code]

[2015-12-16 14:53] thomasfedb commented on #1792
@ariera I have noticed that people tend to have problems when attempting this sort of thing. Perhaps use an `ActiveSupport::Concern` instead. For example:

[code]

[code]

[2015-12-16 14:53] #1792 closed

[2015-12-17 07:03] awinabi commented on #1768
@raphaelcm
I'm trying to replicate the issue, but this seems to work fine for me.

The remote url, I'm using is https://chart.googleapis.com/chart?cht=p3&chd=t:60,40&chs=250x100&chl=Hello|World

[code]

The config files and uploader I'm using is @ https://gist.github.com/anonymous/3304f6a1fdde0bff5343

Can you provide more details on the error and also the versions (rails and carrierwave) that you

[2015-12-17 12:23] ch3m1c commented on #1782
First, column type can't be array, it has to be :json to work with Carrierwave.
Second, this migration doesn't move files from old location to new location, right?

I would love to run the migration so old files will go threw the same "pipe" that new files will go (get's renamed, moved to right place etc)

[2015-12-17 15:18] thomasfedb commented on #1782
@ch3m1c The above code will do all that, as long as you mount the right uploader at `:attachments`.

[2015-12-17 20:33] edatrix commented on #1673
Back again, this same issue is occurring.  When I check the box to remove the item in the nested form, it will not do so without also adjusting another attribute in the nested form.  Identical setup and behavior as out above.

[2015-12-18 04:10] thomasfedb commented on #1673
@edarix please submit a new issue, including the gem version and a minimal reproduction.

[2015-12-18 18:01] sintro opened #1800 "Calculating MD5 of large uploaded files"
How can I calculate the MD5 hash of large (may be, 1 GB and more) files, when I uploading it using CarrierWave? I think, one should use some optimized algorithm (may be, calculate the hash of only the small part of original file), or move the calculation to background process (using Sidekiq or another gem). And what if I uploading the file to cloud service (S3, for example), and does not keep loca

[2015-12-19 03:46] thomasfedb commented on #1800
This question would be better off on StackOverflow, it's not an issue. In any case, sounds like premature optimisation.

[2015-12-19 03:46] #1800 closed

[2015-12-20 06:19] edatrix opened #1801 "remove checkbox in nested form does not work without also editing additional attribute"
related to #1673, attachments in nested forms aren't removed unless another attribute is also edited.

bug reproduced [here](https://github.com/edatrix/carrierwave-nested-form-issue) using version 0.10.0

[2015-12-20 18:10] thomasfedb commented on #1801
Hi @edatrix, can you please let me know:

1. Does setting the remove attribute affect the model's `changed?` value?
2. Does it affect the `attr_changed?` value, where `attr` is the uploader mount point.

[2015-12-21 00:51] edatrix commented on #1801
hi @thomasfedb,

checking the box does not affect either the `changed?` value of the parent (Elf) or `image_changed?` of the child (Toy).  i checked by going through the console and inspecting after i'd committed my changes to the form.

[2015-12-22 18:12] thomasfedb commented on #1801
Right, that confirms my suspicions. @edatrix Could you include your controller and model code in the issue please.

[2015-12-22 18:47] edatrix commented on #1801
[code]

[2015-12-22 21:26] lcx commented on #1704
I did answer my own question on SO: http://stackoverflow.com/questions/31381121/carrierwave-multiple-image-upload

[2015-12-23 05:09] thomasfedb commented on #1801
@edatrix Is all that controller code required to reproduce the issue? Seems like a lot.

[2015-12-23 05:12] edatrix commented on #1801
@thomasfedb i'm not sure what you're asking.  yes, new/create and edit/update are required to reproduce the issue since the issue occurs when editing (trying to remove an attachment).

you can see the entire reproduction [here](https://github.com/edatrix/carrierwave-nested-form-issue).

[2015-12-23 05:20] thomasfedb commented on #1801
Hi @edatrix,

Would this not be a simpler `update` method that still reproduces the issue?

[code]

Also, if you're going to provide an application as a replication, please provide a very clear list of exact steps required to induce the issues and the expected and actual result of those steps in the `README`.

[2015-12-23 05:46] edatrix commented on #1801
ah, right on both counts @thomasfedb.  i've updated the README with clearer instructions.  hope that this helps!

[2015-12-23 08:02] thomasfedb commented on #1801
Thanks @edatrix, that's much more helpful now.

[2015-12-23 08:42] evg2108 commented on #1545
`concat` is not work. When i do this

[code]

[code]

i get error:

NoMethodError (undefined method `identifier' for #<ActionDispatch::Http::UploadedFile:0x0000000a727950>)

[2015-12-23 08:48] thomasfedb commented on #1545
Hi @evg2108, I never said that `concat` *would* work, only that it might be the way that it *should* work.

[2015-12-23 10:12] mrudult opened #1802 "Fog generates wrong url with AWS-S3"
Gemfile:

[code]

Carrierwave Initializer:

[code]

I'm able to upload the files to s3 properly but when I call `model.asset.url` I get

[code]

But my s3 console shows the public link as:

[code]

What am i doing wrong? How to fix this?
##### Update:

Manually putting the url in the browser gives:

[code]
##### Update:

On further investigation it looks like the url should be:

[code]

[2015-12-23 10:39] evg2108 commented on #1545
But I still don't know do this right. Do you have any suggestion?

[2015-12-26 07:17] randoum commented on #1743
Ok. This is strange.

Quick explanation : few months ago I realized that `CarrierWave.configure { |c| c.root = Rails.root.to_s }` did not suffice and my *tmp* and *upload* directories was still present in *public* (restarted server, stopped spring, deleted those directories, did several tests without success). And the only solution was to add after the `configure` block the instruction `CarrierWav

[2015-12-28 06:49] taco-chen commented on #1343
+1
It would be very helpful!

[2015-12-28 14:35] thomasfedb commented on #1343
If `asset_host` responds to `call` then it will be called with the file in question. We don't pass the request when calling `asset_host`.

I would not support doing so without very good reason. Particularly because Carrierwave isn't restricted to being used purely during Rails requests. For example, Carrierwave uploads might be accessed by rake tasks, or by job workers.

Further the mechanism requ

[2015-12-28 14:35] #1343 closed

[2015-12-30 08:10] ilan-senexx commented on #1058
hi. didn't manage to fix it, so i comment out the mount_uploader lines from model, and run migration ,
then removed comments

[2015-12-30 12:05] bobintornado commented on #1704
I learn from @lcx  and use the following solution at my own project.
[code]

I wrote a [blog post](http://bobintornado.github.io/rails/2015/12/29/Multiple-Images-Uploading-With-CarrierWave-and-PostgreSQL-Array.html) on this with a [sample project](https://github.com/bobintornado/sample-gallery-app-with-carrierwave).

[2016-01-01 17:10] thomasfedb opened #1814 "Warnings when running specs on CI"
When running specs, the following warnings are generated:

JRuby only:
[code]

JRuby only:
[code]

Rails 4.2 only:
[code]

[2016-01-02 02:58] mehlah commented on #1814
I just PRed #1815 with a fix for AR depreciation warnings when running the cucumber suite.

The first JRuby warning you mention can't be fixed by us. It's a Bundler issue that seems fixed but not yet released (ref https://github.com/jruby/jruby/issues/1913)

The other JRuby warnings about already defined constants comes from fog-aws gem (see fog-aws build log for almost the same warnings https://t

[2016-01-02 17:05] mehlah commented on #1564
@JakeTheSnake3p0 Why do you consider that CarrierWave should encode `'` in URLs?
Based on the RFC, as this reserved character doesn't have a delimiting role, there is no reason to encode.

   correspond to characters in the reserved set unless these characters
   are specifically allowed by the URI scheme to represent data in that
   component.  If a reserved character is found in a URI component

[2016-01-02 18:41] thomasfedb opened #1820 "Migrate Cucumber features to specs"
The Cucumber features should be either:

- Converted to RSpec features
- Converted into RSpec specs
- Removed, if they duplicate existing RSpec coverage

[2016-01-02 18:48] thomasfedb commented on #1510
Looks to me that there are three ways to solve this issue:

1. Implement `SantizedFile#rename_to` for use when we are renaming files.
2. When generating new files with ImageMagick, we should save them to `/tmp` and then move them to their destination.
3. Remove the file renaming step and save files with the correct name initially.

[2016-01-02 18:52] thomasfedb opened #1822 "Fix 0.10-stable build"
As the master branch is now targetting 1.0.0, and a large number of applications use CarrierWave 0.10.0, we should ensure that the `0.10-stable` branch builds successfully so that we have a basis for any future fixes required in the 0.10.x series.

[2016-01-02 18:54] thomasfedb commented on #1822
For some context, CarrierWave 0.10.0 has had 2,205,941 downloads from RubyGems.org.

[2016-01-02 19:10] mehlah opened #1823 "Remove locales from the main repository"
I'm suggesting to extract locales to another repo (`carrierwave-i18n` I guess) and make it an optional dependency.
The current locales are hard to maintain and some are outdated as soon as a new feature that might needs locales is introduced.
This is a first step in splitting some parts of the codebase into other projects for easier contributions and releases.
I'd be happy to tackle it if it sound

[2016-01-02 19:14] thomasfedb commented on #1823
I'm a little wary of this, for a few reasons:

1. Localisations feel, to me, to be fairly strongly tied to the code that makes use of them. How exactly do you intend to separate them?
2. What will be the result when `carrierwave` is installed without `carrierwave-i18n`?

[2016-01-02 19:21] mehlah commented on #1823
We'd maintain only `en` locales in the main repo, and all the translations moved to a separate project with separate (and faster specs), easier contributions and an independent release cycle.
We could also add tests for consistency across translations (currently broken).

Users of `carrierwave` who might need additional locales could either add `carrierwave-i18n` gem or simply copy/paste the neede

[2016-01-02 19:25] thomasfedb commented on #1823
Right, that makes more sense now.

Does this include consistency with the `en` locale in the `carrierwave` repo?

[2016-01-05 08:22] mehlah opened #1826 "Code style inconsistencies"
CarrierWave code got a lot of style inconsistencies (quotes styles, line breaks, line max lengths, indentations, use of `and` and `or` without a valid reason...)
I think the project quality will benefit from linting the code based on a documented code style guide for contributors.
The ideal scenario is to automate this thanks to Rubocop and even better, to [Hound](https://houndci.com/) (based on R

[2016-01-06 05:50] thomasfedb commented on #1814
Issues with `Fog::Aws` discussed here: https://github.com/fog/fog-aws/issues/212

[2016-01-07 16:23] mehlah commented on #1823
A work in progress https://github.com/craftsmen/carrierwave-i18n and https://github.com/carrierwaveuploader/carrierwave/commit/4d89e8a5bb412995385816a584bc5b36e6a6acaa

[2016-01-08 14:09] thomasfedb commented on #1826
I'd be happy to give Hound a shot. My only concern is to avoid putting people off contributing to the project.

[2016-01-08 14:12] thomasfedb commented on #1826
@bensie what do you think?

[2016-01-08 16:47] mehlah commented on #1826
Precisely, I think getting an automated and quick code style review would make contributions easier to accept/decline. The improved code quality and consistency will make it easier for someone unfamiliar with CW code to dig it in the future.
If we find Hound is too invasive, we could disable it and only let core contributors to use Rubocop in their machines with shared rules in rubocop.yml configu

[2016-01-08 16:50] bensie commented on #1826
:-1: to Hound, but I'm open to a rubocop.yml file to encourage consistency. PRs should not be rejected based on these style issues though.

[2016-01-08 17:07] edatrix commented on #1086
how could i provide the value to a nested field?  everything i find points to this (in addition to whitelisting the hidden fields, etc.), but i can't get it to work so that cached fields in nested forms rerender post-validation errors.

(and as an additional caveat, this occurs only on "create", not on "edit".)

[2016-01-08 23:58] thomasfedb commented on #1826
It does look like hound is fairly invasive. Let's go with putting together a rubocop.yml.

[2016-01-09 00:16] plribeiro3000 commented on #1826
:+1: to try hound

Em sex, 8 de jan de 2016 21:58, Thomas Drake-Brockman <
notifications@github.com> escreveu:

[2016-01-10 16:25] thomasfedb opened #1831 "Fix StringIO support"
See #1679 for details.

[2016-01-12 11:39] maikokuppe commented on #1789
I forgot to mention that I was using MySQL, which does not support array or json columns, but this is required as mentioned in the readme: https://github.com/carrierwaveuploader/carrierwave#activerecord-1

This is the reason for these serialized arrays within the paths. I switched to PostgreSQL and everything works fine now.

I'm going to close this issue, since the prerequisites (database which s

[2016-01-12 11:39] #1789 closed

[2016-01-12 21:26] Neil-Ni opened #1835 "Bug before :cache callback returns sanitized file which loses unsanitized original filename"
Hi guys,

Just came across an unexpected behavior in before :cache callback today, and would like to raise an issue. From official [wiki](https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-Create-random-and-unique-filenames-for-all-versioned-files#saving-the-original-filename), there's a snippet on how to save the original filename:
[code]

I was expecting the callback to return an or

[2016-01-12 21:51] mbajur opened #1836 "Set fog_authenticated_url_expiration"
Hello everyone.

I was curious - is that possible to temporay overwrite default `fog_authenticated_url_expiration` on `model.uploader_column.url()` level? I want to use a default expiration time everywhere in my app but also be able to set longer expiration times for images displayed in mails (cause sometimes mail arrives or is opened a way longer than after 10 minutes and that causes the images b

[2016-01-13 08:28] #1826 closed

[2016-01-13 08:30] thomasfedb commented on #1823
How're you going with this @mehlah? Also, @bensie, what do you think of this idea, and would you have access to bring the new repo over the the @carrierwaveuploader GitHub org?

[2016-01-13 08:36] thomasfedb commented on #1836
Hi @mbajur, that functionality is not currently supported, although it could be implemented in `CarrierWave::Storage::Fog#authenticated_url`. If you'd like to provide a pull request with such an implementation, I'd be happy to look over it.

[2016-01-13 08:36] #1836 closed

[2016-01-13 08:38] thomasfedb commented on #1835
Thanks for the report @Neil-Ni.

[2016-01-13 09:06] mehlah commented on #1823
@thomasfedb I have to update a couple of specs in the main repo that were relying on some locales, then it should be ready for a review.
I'll build a demo app running it and update docs later if it's all good for you.
I'd be happy ofc to transfer the repo to @carrierwaveuploader org.

[2016-01-14 08:01] sarithats opened #1839 "Raising ProcessingError on version processing adds error message twice to record"
Reference:  #1306
Version 0.10
https://github.com/carrierwaveuploader/carrierwave/blob/0.10-stable/lib/carrierwave/processing/mini_magick.rb#L273

Raises error messages twice on the record.

To reproduce, rename a non-image to jpg extension and try process.

[2016-01-14 09:09] thomasfedb commented on #1839
Can you please include a full reproducible example in your issue report.

[2016-01-14 11:05] nasirvq commented on #1576
Hey guys,

I am getting the same error in my rails app. It looks like the problem is in https://github.com/carrierwaveuploader/carrierwave/blob/52beaa1ebec56b9649b6e1f46366030e3e39c2bd/lib/carrierwave/orm/activerecord.rb#L57

line # 57, 58, and 61. (http://prntscr.com/9py2al)

Any chance if this could be fixed? Thanks

[2016-01-14 11:22] Ashviniv opened #1840 "Carrierwave with Rmagick not cropping large size image"
I am trying to upload profile picture for user. For that I used ```process : cropper``` which is
[code]
If I upload large size image e.g: 86kb image it is cropping wrong portion of image.It cuts some upper part of image.

[2016-01-14 16:32] bensie commented on #1576
@nasirvq See my comment above. It's a deprecation warning that is out of our control. Opt-in to the new behavior in your app and it should go away.

[2016-01-14 16:48] thomasfedb commented on #1840
Hi @Ashviniv, this is not a suitable minimal reproduction, as it depends on details contained on your model. Unless you can provide a minimal reproduction, with example input, the resulting output, and the expected output then we will not be able to look at your issue.

I'm closing this issue until you have provided the above.

[2016-01-14 16:48] #1840 closed

[2016-01-15 06:07] sarithats commented on #1839
sorry for the false positive. Was mounting uploader in my super class as well.
Closing issue.

[2016-01-15 06:07] #1839 closed

[2016-01-19 10:01] rsiddle opened #1841 "Content Type is lost when using model instance"
I'm uploading a video MP4 file and by default it's returning the content_type as "application/mp4" instead of "video/mp4".

At the point below within the uploader, the pry statement is showing the correct content_type

[code]

Here is the output at this point
`
pry(#<AttachmentUploader>)> self.file.content_type
=> "video/mp4"
`

in my upload.rb file, I use

[code]

The result is

[code]

I can't f

[2016-01-19 12:03] mehlah commented on #1841
Thanks @rsiddle for the report.
Which version of CW are you using?

[2016-01-19 18:43] rsiddle commented on #1662
Any luck with this? Stumbed across it when uploading to S3 via Fog.

[2016-01-19 19:00] plribeiro3000 commented on #1662
@rsiddle Sorry. Did not have time to look further yet.
Hopefully this week i will be able to do it.

[2016-01-20 10:40] rsiddle commented on #1742
I am running into a similar problem. When processing media, the uploaded file is always the original filename with extension, however the file does have the correct underlying format. It appears to be just a naming issue?

[2016-01-20 12:10] rsiddle opened #1842 "Wrong file extensions on processing"
Please see the example code below. I've overriden the store! method from https://github.com/carrierwaveuploader/carrierwave/blob/52beaa1ebec56b9649b6e1f46366030e3e39c2bd/lib/carrierwave/uploader/store.rb inserted a Pry which I call the @file. It shows the correct file name as being tech.png. When I use the store! method, for some reason uses the original file extension (and possibly name), however

[2016-01-20 12:39] rsiddle commented on #1842
**UPDATE**

It turns out that the Paperclip compatibility is what is causing the issue.

I've just overridden the store! method to use the inserted file's base name when passing to the store_path.

It's taken two days to figure out this issue, I hope this can save someone else the pain.

[code]

[2016-01-20 12:50] mrudult opened #1843 "How to access carrierwave object (or convert to one) when using SQL SELECT statement?"
User Model:
[code]
The image is being uploaded properly to the specified storage. I'm also able to access the urls by calling something like - `Avatar.first.image_url`

The example above is just simple case. But you know, when you have complex query, we need to join many tables. In that case, we need way to get url(s)/versions(s) from raw sql, i.e we need to select the `image` column manually. But

[2016-01-20 13:14] thomasfedb commented on #1843
Hi @mrudult , you haven't provided enough information in order for us to be ale to work out a) what you're trying to do, b) how you're trying to do it, or c) why it isn't working.

You should provide the relevant code from your model and uploader, as well as an interactice console session demonstrating what you're attempted.

I'm closing this issue until you can update with sufficient details.

[2016-01-20 13:16] Tecktoart opened #1844 "Update multiple files without replace"
Sorry, I bad speak English :)
Hi I have used this article for multiple upload files and now I have some problems with update files without replace.

https://www.codementor.io/tips/8367241728/carrierwave-now-natively-supports-multiple-file-uploads-in-rails-gotchas

[code]

[code]

[code]

[code]

[code]

When I update attachments, they to replace in database.

Can someone suggest a good solution fo

[2016-01-20 13:23] mrudult commented on #1843
@thomasfedb Please check now. Have updated the issue details.

[2016-01-20 13:45] thomasfedb commented on #1843
Have you tried anything yet @mrudult?

Perhaps something like:

[code]

[2016-01-20 13:48] thomasfedb commented on #1844
Hi @Tecktoart, you haven't provided enough information in order for us to be ale to work out what you're trying to do.

I'm closing this issue until you can update with sufficient details.

[2016-01-20 14:05] mrudult commented on #1843
@thomasfedb Yup. The above query return the `image` name and not the image (carrierwave) object.
Bet'n the above query should be:
[code]
This has been asked on [SO](http://stackoverflow.com/a/19659911/1552570) as well.

[2016-01-20 15:00] Tecktoart commented on #1844
@thomasfedb, I have updated, please verify

[2016-01-20 15:04] thomasfedb commented on #1844
What do you mean by "replace"? Please demonstrate.

[2016-01-20 15:19] Tecktoart commented on #1844
I have created opportunity with 2 files

![image](https://cloud.githubusercontent.com/assets/6610473/12452680/c633ac12-bfa0-11e5-8e5f-7dd74689f7de.png)

My files
http://storage7.static.itmages.com/i/16/0120/h_1453302616_2373939_a431032a66.png

When I have added one file on update form, my files have replaced in database on last file from update form.
http://storage1.static.itmages.com/i/16/0120/h_

[2016-01-20 20:28] quidquid opened #1845 "SanitizedFile#rewind error when calling recreate_versions!"
Hey there, I ran into a glitch using recent versions of both the master branch and 0.10-stable under a Rails 3.2 app. This had been stable for over a year, but updating the gem seems to have caused issues. Rewinding to commit a1b96d05d021f0ab53c8a2ef460bc96664e52b79 from last summer fixed it, so I'm fine staying on that version.

[code]

The uploader's simple enough, using Fog on AWS. Below are th

[2016-01-23 02:01] darryn02 commented on #1601
Is 1.0 getting close?

[2016-01-23 06:31] thomasfedb commented on #1601
Version 1.0.0 will be release once the designed features have been implemented, and we have a stable codebase worthy of the 1.0.0 designator. We have no set timeframe for the release. All are very welcome to contribute.

[2016-01-26 20:15] earnestaddae commented on #1608
This approach I just discovered works fine.
Add the following gems to your Gemfile
[code]
Run bundle, commit your work, then push. Its working for me, I hope it does you too.

[2016-01-26 23:46] chadwtaylor opened #1846 "Setting filename (without overriding)"
[code]

The problem with the above is that it will store the temp's filename instead of the original filename. When using Tempfile, how can I preserve the original filename (eg: `filedata.original_filename`).

Disclaimer: I'm not using ActiveRecord.

Any tips greatly appreciated.

[2016-01-27 02:18] chadwtaylor commented on #1846
I think I got it covered but would appreciate feedback:

[code]

[code]

[2016-01-27 04:31] thomasfedb commented on #1842
Thanks for the update @rsiddle!

[2016-01-27 04:31] #1842 closed

[2016-01-27 15:54] jmuheim opened #1851 "Using SimpleForm and `use :maxlength`, a textarea for an image uploader has maxlength of 255"
I'm using SimpleForm, and I just activated `use :maxlength` so it calculates the maxlength for input elements according to their length validations:

[code]

I also use [carrierwave-base64](https://github.com/lebedev-yury/carrierwave-base64) to send an image as base64 string to the server using a textarea:

[code]

Interestingly, this textarea now has a maxlength of 255:

![image](https://cloud.gi

[2016-01-27 16:03] thomasfedb commented on #1851
Looks to be a SimpleForm issue @jmuheim. May be that SimpleForm is using the width of the underlying string column to calculate the `maxlength`.

[2016-01-27 19:08] jmccartie commented on #1551
FTR, I got this error when adding `react-rails` to my Gemfile.  Once I moved the gem *beneath* carrierwave, the error went away.

¯\_(ツ)_/¯

[2016-01-27 21:32] thomasfedb commented on #1551
@jmccartie could you open a new issue for this interesting incompatibility please.

[2016-01-27 21:38] jmccartie opened #1852 "Undefined method 'mount_uploader' when adding `react-rails`"
If I add the `react-rails` Gem above carrierwave, I get "Undefined method `mount_uploader` whenever I try to start Rails

[code]

But works fine when I move react-rails beneath `carrierwave` in the Gemfile.

Removing `rails_admin` also fixes the issue. Sooooooo ... much complicate. :smile:

[2016-01-27 22:53] thomasfedb commented on #1852
Could you provide your Gemfile that produces the error.

[2016-01-27 22:54] jmccartie commented on #1852
[code]

[2016-01-27 22:56] jmccartie commented on #1852
As a note, I fixed this by moving `react-rails` to the bottom, so this is not an urgent issue for me.  I'm submitting by request in #1551

Let me know how else I can help...

[2016-01-27 22:59] thomasfedb commented on #1852
Do you have Rails in your Gemfile?

[2016-01-27 23:00] jmccartie commented on #1852
@thomasfedb Yeah, sorry. The whole thing is massive (this is a legacy app I'm rescuing for a client). Rails is at 4.2.5.1

[2016-01-27 23:08] thomasfedb commented on #1852
Is Rails the first entry in the Gemfile? Are you at liberty to Gist the Gemfile?

[2016-01-27 23:12] jmccartie commented on #1852
@thomasfedb I'm not at liberty to share the entire file.  Here's the top:

[code]

[2016-01-27 23:25] thomasfedb commented on #1852
Thanks @jmccartie

[2016-01-28 11:38] AlexJuca commented on #1608
I had the exact same problem all I had to do was update the gemfile with gem 'fog', require: 'fog/aws'

[2016-01-28 11:43] DarthSim commented on #1320
@bensie Actually, this is not about bombshelter or DoS attacks at all. When you process files before validations, you can process something that shouldn't ever be processed. This could be a serious vulnerability or just a waste of time.

[2016-01-28 12:56] thomasfedb commented on #1320
@DarthSim are you able to produce a proof-of-concept?

[2016-01-28 14:09] DarthSim commented on #1320
@thomasfedb
1) First case is protection from image bomb, of course. Yeah, it's not CarrierWave problem, but the current version makes it hard to solve the problem easily.
2) Video processing. Suppose we want to check some info about a video before processing (length, codec, etc). With the current version of CarrierWave we can spend a lot of time processing video with invalid length or codec.
3) To

[2016-01-29 16:13] adavia opened #1854 ""param is missing or the value is empty: ticket" Rails 5.0"
I am getting this error every time i submit an empty form with a file field. It wont happen if i remove the file field. A workaround should probably be doing something like  params.fetch(:ticket, {}).permit(:name, :photo)

Is this an issue with rails 5.0?

[2016-01-29 18:09] thomasfedb commented on #1854
@adavia please provide the complete log entry for the request, and the view code.

[2016-01-31 04:19] take opened #1855 "Uploading multiple images with same image name doesn't work"
## Ideal behavior

Maybe an automatical image name update something `omg.png, omg.png` to `omg.png, omg_2.png`?
## Current behavior

DB column value ends up like `["omg.png", "omg.png"]`, but only the first image is actually uploaded.
Same thing happens when I use the [unique filename strategy](https://github.com/carrierwaveuploader/carrierwave/wiki/How-to%3A-Create-random-and-unique-filenames-for

[2016-01-31 09:04] take commented on #1855
I guess we can avoid this problem if we change `store_dir` from

`"uploads/#{model.class.to_s.underscore}/#{mounted_as}/#{model.id}"`

to

"uploads/#{model.class.to_s.underscore}/#{mounted_as}/#{model.id}/#{INDEX OF THE FILE}/"

[2016-01-31 21:22] afuno opened #1857 "How to get an image in a different controller?"
I have no problem getting the picture in the news. But when I declare an instance of class "News" in a different controller, the in place `@news.photo.url` emptiness.

In the controller "News" the image is, in a different controller, you can not get it (there is a void).

In the model I add `mount_uploader :photo, PhotoUploader`

What is the problem?

[2016-01-31 21:31] #1857 closed

[2016-02-01 09:11] Silex opened #1858 "Why doesn't the gem come with all uploader validations?"
Hello,

https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/uploader/content_type_whitelist.rb and https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/uploader/file_size.rb are not present in the latest gem:

[code]

Why that? Wouldn't `size_range` make https://github.com/carrierwaveuploader/carrierwave/wiki/how-to:-validate-attachment-file-siz

[2016-02-01 09:27] thomasfedb commented on #1858
The master branch on GitHub is unreleased, and is targeting v1.0.0. The latest released version is v0.10.0.

This is noted towards the top of the README in large bold font. Switch to the 0.10-stable branch for the relevant documentation.

You can also use the master branch in your application by providing the Git repo in your Gemfile.

[2016-02-01 09:27] #1858 closed

[2016-02-01 09:49] Silex commented on #1858
Alright, thanks.

[2016-02-01 10:22] hxx opened #1859 "How to get the width of tmp file when the filename is Chinese?"
I want to scale the image when the width of the image is larger then a special value

[code]

when the image's filename is Chinese, I can get the size of the tmp file normally, but I can't get the width of the tmp file.

the tmp file with directory is
 "../tmp/1454320445-54102-8395/图片.jpg",

but when I try to get the width of the image, it will say that no file named
"../tmp/1454320445-54102-8395/

[2016-02-01 10:33] thomasfedb commented on #1859
Can you please provide the full stack trace.

[2016-02-01 12:16] thomasfedb commented on #1855
This is definitely an issue that I want to look into closely.

[2016-02-01 17:38] Silex commented on #1855
While you're at it, how do we do different store_dir with the _same_ file name?

Here is what I tried, but it fails because I guess it deletes the same cache file twice (it works if I let the filename be different, with the foo_ or bar_ being prefixed).

[code]

[2016-02-02 00:07] mehlah commented on #1822
This could be closed ;-)

[2016-02-02 05:21] thomasfedb commented on #1822
Very true!

[2016-02-02 05:21] #1822 closed

[2016-02-02 07:44] Silex opened #1861 "Store different versions with the exact same filename but in different directories"
Hello

I'm using carrierwave from master.

It looks like we cannot have the exact same filename for different versions.

If I upload a file, say "hello.jpg" and the associated model has id 123, I want it to be saved that way on the disk (the model.id is irrelevant here, it can be anything as long as it results in the exact same filename):

[code]

Here is what I tried:

[code]

It fails when creat

[2016-02-02 08:01] Silex commented on #1861
I just had an idea, maybe I could have `store_dir` return "/data" and `full_filename` return "version1/123.jpg". The idea is that the changing directory would be part of the filename instead of the store dir.

[2016-02-02 10:28] hxx commented on #1859
my **image_uploader.rb** is
[code]

when I upload the image named "图片.jpg", and here is the full stack trace

[code]

It looks like the filename of image is "**\xE5\x9B\xBE\xE7\x89\x87.jpg**", but it will look for the image named "**%E5%9B%BE%E7%89%87.jpg**"

and when I upload the image named "**image.jpg**", it success.
the filename of the image is "**image.jpg**", and it will look for the image

[2016-02-02 12:57] #1667 closed

[2016-02-02 14:36] andiruleu commented on #1622
Just tried to do the same, did what @estebanbouza did. Originally didn't have carrierwave, I guess we need this gem to install the mailboxes gem?

[2016-02-02 14:40] thomasfedb commented on #1622
Please create a new issue report. This issue is many months old.

[2016-02-02 14:43] thomasfedb commented on #1859
Right, so this is an escaping issue. It would appear that we're inconsistent with escaping of non-`\w` filenames somewhere.

[2016-02-02 14:43] thomasfedb commented on #1859
For clarity @hxx, what version of CarrierWave are you using?

[2016-02-02 14:58] hxx commented on #1859
@thomasfedb I am using the master branch to enable multiple file uploads.

in my gemfile:

[code]

gemfile.lock:
[code]

[2016-02-02 15:01] thomasfedb commented on #1859
Thanks @hxx. Can you test against 4aec9824 and let me know if that changes anything.

[2016-02-02 15:03] thomasfedb commented on #1861
@Silex what's your usecase?

[2016-02-02 15:13] hxx commented on #1859
@thomasfedb  I tested https://github.com/carrierwaveuploader/carrierwave/commit/4aec9824cba9436ebf368899ad3b5cd0f609d354 and https://github.com/carrierwaveuploader/carrierwave/commit/b742d7fc1d095e7a2541e27bf281fd48fc142715, it not works.

[2016-02-02 16:10] hxx commented on #1859
https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/processing/mini_magick.rb#L319-L325

the **url** of this image is
"/Users/hxx/myApp/tmp/1454428608-63558-0001-5926/%E5%9B%BE%E7%89%87.jpg"

and the **current_path** of this image is
"/Users/hxx/myApp/tmp/1454428608-63558-0001-5926/图片.jpg"
(I can find this image with the current_path)

Is that necessary to open the image

[2016-02-02 17:08] thomasfedb commented on #1859
My understanding (though perhaps flawed) is that the `url` should never be used against the local filesystem, and should only be used as an identifier in URLs.

[2016-02-02 19:41] naaano opened #1864 "set_content_type broken, need docs/wiki update"
There have been some improvements and cleanup with mime-types, which is great, but breaks old code, and wiki is still with the old way.
#1584 for reference.

I know there's mime-types gem and ruby-filemagic but don't know how to replicate set_content_type with them, and update this pages accordingly:
https://github.com/carrierwaveuploader/carrierwave/wiki/Saving-Content-Type
and here:
https://gith

[2016-02-03 07:22] Silex commented on #1861
@thomasfedb: I store images, I need to store a "medium" version that is 800x600 and a "small" version that is 200x150. I want them to have this layout on the disk:

`"/data/#{version_name || 'original'}/#{model.created_at.to_i}.jpeg"`

That is, have the following files:

[code]

[2016-02-03 08:22] Silex commented on #1861
I just found the hack needed for it to work:

[code]

Should I create a new wiki entry with this?

[2016-02-03 12:52] tomprats opened #1867 "ArgumentError - wrong number of arguments (1 for 0)"
I just spent way too much time tracking down this vague error for it to end up being so simple! The below code is a simple version of what would cause the error. At first glance, all looks well, creating a large version if there's an image. Your `image?` method doesn't look like it takes arguments, it can just pull data off of `model` anyways.

The reason this error was so confusing is because the

[2016-02-03 19:00] thomasfedb commented on #1861
We're always interested in new contributions @Silex. Glad you found a solution!

[2016-02-03 19:00] #1861 closed

[2016-02-04 09:38] Silex commented on #1861
@thomasfedb: before I do, can you confirm that in `full_filename`, checking with `cached?` is the appropriate way to know wether you want a filename for the cache or for the store?

[2016-02-04 11:49] thomasfedb commented on #1861
Hi @Silex, you're going to have to investigate and read through the codebase.

I'm not a long-standing CarrierWave developer, just somebody who volunteered to come on to look after the issues and PRs.

[2016-02-04 11:51] thomasfedb commented on #1864
@mehlah might know best about this.

[2016-02-04 11:52] #1867 closed

[2016-02-04 17:35] jasper502 opened #1868 "weird image_tag issue with carrierwave-aws"
I am only starting here because the issue cropped up after I switched from fog to carrierwave-aws.  My image tags are rendering like this:

    <%= image_tag(current_user.avatar.thumb.url, class: "img-circle") %>
    <img class="img-circle" src="https://xxxx.cloudfront.net/images/xxx.cloudfront.net/user/9/avatar_thumb.png" alt="Avatar thumb">

but `current_user.avatar.thumb.url` outputs `https://x

[2016-02-04 19:57] alassiter opened #1869 "Recreate and reprocess your files stored on fog Not working for me"
I'm trying to follow https://github.com/carrierwaveuploader/carrierwave/wiki/How-to%3A-Recreate-and-reprocess-your-files-stored-on-fog instructions, but I was getting errors. my file is called `hat.jpg`

I'm using carrierwave_backgrounder so i needed these instructions to process immediately.

[code]

So, i tried it in my console one line at a time. If I set process_avatar_upload = true, the next

[2016-02-04 20:42] alassiter commented on #1869
I also asked this in stack overflow. I apologize if this isn't the correct place for this, but it seems related to an issue that was thought to be fixed.

[2016-02-04 20:52] jasper502 commented on #1868
D'oh!

    config.asset_host = "https://xxxx.cloudfront.net"

not:

    config.asset_host = "xxxx.cloudfront.net"

[2016-02-04 20:52] #1868 closed

[2016-02-05 09:30] Nephos opened #1870 "CarrierWave::Storage::constants => [:Abstract, :File], no fog"
Hi,

I have the following issue, only on the master branch

**Using carrierwave 0.10.0 from git://github.com/carrierwaveuploader/carrierwave.git (at master@aa74e9e)**
[code]
*Note: same issue with older revision like 1e4e7b0, despite an other of my project works with*

**Using carrierwave 0.10.0**
[code]

**Gemfile**
[code]

**Gemfile.lock**
[code]

[2016-02-05 10:49] mehlah commented on #1864
Hi @naaano,
Some Wiki pages might be outdated as those targets 0.10 and the code recently cleaned up is not yet released (probably the upcoming 1.0).

Content type is automatically fetched and available for you.
Here is a small script proving this https://gist.github.com/mehlah/fdea4487cd2cde3caf23

I don't know what exactly you want to achieve, but if you need to store the content type explicitly

[2016-02-05 13:21] mehlah commented on #1870
Beware the code in the master branch is not yet released and quite different from 0.10.
Especially, the way Fog is loaded has changed.
Now Fog is eager loaded as you can see at https://github.com/carrierwaveuploader/carrierwave/blob/3cabb21b9a70309ad5617f33a338c07fc64c834a/lib/carrierwave/uploader/configuration.rb#L110-L115

This means CarrierWave will load it if `fog_credentials` hash exists. You

[2016-02-05 13:35] mehlah commented on #1852
This looks like to be a react-rails issue currently discussed https://github.com/reactjs/react-rails/issues/326
I'll probably submit a fix there later today 😇

[2016-02-05 13:41] mehlah commented on #1846
@chadwtaylor what would happen if you don't provide a `filename` when initializing an uploader?

I guess you could either do some kind of fallback to the `original_filename` if `options[:filename]` is blank, or make the `filename` argument a required one with
[code]
Otherwise it looks good to me.

[2016-02-06 10:21] #1870 closed

[2016-02-06 10:21] thomasfedb commented on #1870
Thanks @mehlah

[2016-02-07 02:41] thomasfedb commented on #1729
@mehlah Wondered if you might have thoughts on this?

[2016-02-09 17:32] 7h3kk1d opened #1871 "version_exists expensive"
I'm currently using carrierwave with fog and s3 and I want to conditionally do something based on a specific version existing. Currently I have object.version.file.exists? but this is really expensive since it calls out to s3 for each file. I believe object.version_exists? :version does the same. Is there a cheaper way to do this or is there a way to set a flag on the activerecord object which wou

[2016-02-09 17:43] #1871 closed

[2016-02-10 01:30] danielevans opened #1872 "`CarrierWave::MiniMagick#height` throws Errno::ENOENT error if the application or file path contains a space"
The problem appears to be that `#mini_magick_image` prefers `url` over `current_path` and `url` is url encoded, so the path that should be opened is `/Users/gate/work/bug test/tmp/1455065589-53775-0001-1488/_3x/three.jpg` is instead sent to mini_magick as `/Users/gate/work/bug%20test/tmp/1455065589-53775-0001-1488/_3x/three.jpg` causing the exception.

I've created a [branch with a failing spec](h

[2016-02-10 12:58] thomasfedb commented on #1872
Definitely looks like a bug. Thanks! Would you consider contributing a fix?

[2016-02-10 15:21] #1852 closed

[2016-02-10 15:23] thomasfedb commented on #1843
@mrudult the only supported method to access a CarrierWave file object is through a model with a mounted uploader.

[2016-02-10 15:23] #1843 closed

[2016-02-10 21:00] pacuna commented on #1794
I'm having this same issue. The code:

[code]

I have a loop in which I'm setting the array of files:

[code]

And then when I assign and save the record:

[code]

I get the error:

[code]

I'm using Rails 4.2.5, MySQL 5.7.10 and the master branch for carrierwave.

Any ideas?

[2016-02-11 03:52] thomasfedb commented on #1794
@pacuna this issue is closed. Feel free to open a new issue if you've found a bug or need assistance.

[2016-02-11 12:15] d4rky-pl commented on #1869
That's because carrierwave-backgrounder throws the file into file_tmp, see how `CarrierWave::Workers::StoreAsset` in it implements it's `perform` and `store_directories` methods.

[2016-02-11 12:22] thomasfedb commented on #1869
Sounds like an issue related to using `carrierwave-backgrounder` rather than with in CarrierWave itself.

[2016-02-11 12:22] #1869 closed

[2016-02-11 13:13] pawelduda commented on #1844
+1 on this one, it appears that on multiple files upload, previously stored files are being replaced by newer one(s). Trying to find a way to hack around this but without any success so far.

[2016-02-11 19:52] prasannakumargd commented on #1662
+1

[2016-02-12 15:48] kreintjes opened #1874 "Time for new RubyGems publish?"
Could you publish a new release of this gem on RubyGems? There hasn't been a new release in two years. The 0.10.0-stable branch fixes an RMagick deprecation warning, but unfortunately is not officially released yet.

[2016-02-13 00:44] thomasfedb opened #1875 "Prepare for 0.11.0 release"
Once the `CHANGELOG.md` has been updated with post-0.10.0 changes we should be able to release version 0.11.0 of CarrierWave.

[2016-02-13 00:44] thomasfedb commented on #1874
Please see #1875.

[2016-02-13 00:44] #1874 closed

[2016-02-13 00:45] thomasfedb commented on #1874
Also, please note @kreintjes that we're always happy to look over PRs if you'd like to contribute.

[2016-02-13 02:36] indie-rok opened #1876 "Extension White List not working with multiple uploads and fog s3"
Hi. I used the gem to allow a web site ONLY upload music files. But it is allowing me to upload all types or files.

Each controller is supposed to have multiple tracks.

This is my set up

Gemfile

[code]

Model: Disc.rb
`mount_uploaders :tracks, TrackUploader`

Controller discs_controller.rb

[code]

track_uploader.rb

[code]

views/discs/new.html.erb

[code]

It successfully upload the files, e

[2016-02-13 04:30] thomasfedb commented on #1876
@mehlah Would you be able to have a look at this one?

[2016-02-14 20:18] bodaonline opened #1877 "image saved to root but not to DB"
Hi All,

**EDIT 15th FEBR 16:53 GMT+1** : Reinstalled the gem and I used only Picture for the name now, not EventPicture. Still no luck.

this is my 2nd CW install. First went smoothly. But this... have been trying to get it working for 4 hrs now :(
The form saves without error and the file gets saved in my app's root (not in public/uploads as per defined). In the server log I see this POST / PATC

[2016-02-15 00:52] thomasfedb commented on #1877
Hi @bodaonline, you'll need to provide a minimal reproduction of the issue if we're going to be able to help you. We need the simplest possible mode/uploader/controller/view that is able to demonstrate the problem.

[2016-02-15 05:13] danielevans commented on #1872
I most definitely will, when I have the time and assuming nobody else beats me to it.

[2016-02-15 10:43] bodaonline commented on #1877
Hi @thomasfedb

I hope this is what you asked for: https://bitbucket.org/bodaonline/cw_upload_issue/src
Removed all the sensitive parts/files.

Meanwhile I checked my other app with nearly identical setup (model names differ) in develeopment mode and I see this in the log when uploading:
`"picture"=>#<ActionDispatch::Http::UploadedFile:0x007f0ddfb5c4f0 @tempfile=#<Tempfile:/home/ubuntu/workspace/s

[2016-02-15 11:44] bodaonline commented on #1877
if in my modell
I use this
`mount_uploader :picture, EventPictureUploader`
instead of this:
`mount_uploader :picture, ::EventPictureUploader`

still the same

[2016-02-15 11:44] bodaonline commented on #1877
uninstall, reinstall of gem didn't help neither

update of rails from 4.2.0 to 4.2.5 didn't help neither

[2016-02-15 14:38] bodaonline commented on #1877
one more info: the file that gets saved to the root looks like this: RackMultipart20160215-1427-180hfas.png
which is not similar to files that got saved in my other app in the public folder

[2016-02-15 15:53] bodaonline commented on #1877
if in my modell
I use this
`mount_uploader :picture, PictureUploader`
pic gets uploaded

If like this (like in my other app)
`mount_uploader :picture, ::PictureUploader`
pic gets not uploaded
although my other app uses the same 0.10.0 version of CW

[2016-02-15 16:59] bodaonline commented on #1877
Just created a new app from scratch and there it works... This is driving me nuts.

[2016-02-15 19:48] jnimety commented on #1589
This affects the uploader setter as well:

[code]

[2016-02-15 22:06] yurko opened #1878 "Issue with uploading files in ActiveRecord migration"
Uploading files (tested both on png and svg) in migration works only at the second attempt.

When I run migration at first time, neither record has uploaded file (checked in Rails console).
When I rollback migration and run it the second time, each record has uploaded file.

I thought of issues with ActiveRecord transaction, but uploading works fine with one attempt wrapped in transaction in rake

[2016-02-16 07:33] thomasfedb commented on #1877
Hi @bodaoline, glad you've got it working in your new app. Doesn't seem to be specifically an issue with CarrierWave. I hope you manage to debug you other app. You'll be best off trying to simplify things in general, rather than making little tweaks here and there.

[2016-02-16 07:33] #1877 closed

[2016-02-16 13:56] thomasfedb commented on #1589
I'm changing this from a bug to an enhancement, as I feel that it's not unreasonable to define these methods via `class_eval` and that it's fairly common practice to do so. Other methods of achieving the same results generally require dynamic module generation and injection and can be fairly complex.

[2016-02-16 14:27] jnimety commented on #1589
you might want to update any wiki entries that suggest redefining the setter, I know of at least one: https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-Detect-a-new-file-in-a-mounted-uploader

[2016-02-17 15:34] walterdavis opened #1880 "Google Group is overrun by spam"
Could you switch it to moderated, please? I volunteer to moderate, since it's low (genuine) volume, and I just wasted a half hour this weekend marking 79 messages from the same recruiter as spam.

Thanks

[2016-02-18 06:14] bensie commented on #1880
Best I can tell I have no power there, sorry @thomasfedb!

[2016-02-18 06:21] thomasfedb commented on #1880
Neither do I! @walterdavis you might need to find a group admin.

[2016-02-18 08:18] acandael opened #1881 "storage path in uploader is broken"
Hi, I'm having this really weird issue. When I upload an image, I get a 404-error in the browser.

the storage path in the uploader file is:

    "uploads/#{model.class.to_s.underscore}/#{mounted_as}/#{model.id}"

when I add 'public' to the beginning of that path, it doesn't work either:

    "public/uploads/#{model.class.to_s.underscore}/#{mounted_as}/#{model.id}"

but here's the weird thing, whe

[2016-02-19 13:29] srozen commented on #1802
I was experiencing the same problem but I noticed that, when you open the file directly in your AWS bucket, the url looks like this : `https://s3-eu-west-1.amazonaws.com/mybucket/dir/image.png`

So my solution was to edit my endpoint in credentials configuration which was `:endpoint => 'http://s3.amazonaws.com'` to `:endpoint => 'http://s3-eu-west-1.amazonaws.com'`.

Works fine now!

[2016-02-22 14:22] kreintjes commented on #1874
@thomasfedb I didn't know you were waiting for the changelog to be updated. I just created a PR (https://github.com/carrierwaveuploader/carrierwave/pull/1883) which should bring the changelog up to date! Please let me know what you think.

[2016-02-24 12:29] bobur554396 opened #1884 "Providing a default URL for User avatar field"
Hi, I'm using Rails 4 and I cannot set default image to my Users avatar field, which uploads using carrierwave gem.
I change my default_url method in Uploader class like this.
`ActionController::Base.helpers.asset_path("/" + [1, "default.jpg"].compact.join('_'))`

Can anyone explain where I should save my default.jpg file, in public/ or in assets/images ?

[2016-02-24 15:00] gabrielrotbart opened #1885 "Overriding filename causes empty Uploader to think file exists"
1. Override filename in uploader (e.g. ImageUploader)

[code]

2. POST without selecting an image, which will result in a nil for the ["image"] param.
e.g. Rails:
`params["image"].nil?` #=> true

An ImageUploader image with all the correct attributes for a file will be created.

`image.url` will contain "call_this_file.png"
`image.current_path` will contain "call_this_file.png"
etc

However, `imag

[2016-02-25 04:21] Baozi2 opened #1886 "invoke method in version"
I want to dymatic calculate size  like this
[code]
a exception happened
[code]

[2016-02-25 05:03] thomasfedb commented on #1886
This is not supported. Please review the README.

[2016-02-25 05:03] #1886 closed

[2016-02-25 05:07] Baozi2 commented on #1886
thank you

[2016-02-25 05:16] thomasfedb commented on #1884
Given that you're using the `asset_path` helper it would seem that you should place your imagine in your assets directory.

[2016-02-25 05:16] #1884 closed

[2016-02-25 05:18] thomasfedb commented on #1885
See the following example from the README:

[code]

[2016-02-25 05:18] #1885 closed

[2016-02-25 05:18] #1880 closed

[2016-02-25 08:29] jhelmers-fyber commented on #1662
+1

[2016-02-25 13:15] artemas commented on #1872
Tests passed because url is subbed https://github.com/carrierwaveuploader/carrierwave/blob/master/spec/processing/mini_magick_spec.rb#L12

[2016-02-25 16:23] interestinall commented on #412
finally found this. remotipart :D. Thanks everyone!

[2016-02-25 19:11] danielevans commented on #1872
@artemas I haven't had time to do more in-depth testing but I suspect simply using `current_path` will result in errors when the file isn't cached or isn't stored locally.

I have a spec where I have removed that stub and demonstrate the issue. https://github.com/danielevans/carrierwave/pull/1/files

[2016-02-25 19:23] artemas commented on #1872
@danielevans i meant just particular case, when `url` was not empty but did not work, it needs some different condition to choose which value to use

[2016-02-26 17:12] stevesuh commented on #1494
I'm getting the same behavior.

[2016-02-27 17:43] allaire commented on #1735
@dylansm @thomasfedb Just faced a similar issue, here is my solution:

[code]

[2016-02-27 17:51] allaire commented on #899
@bensie I know this is hold, but would it be a good default behaviour to not return the asset_host if the file is cached? (see my exemple here: https://github.com/carrierwaveuploader/carrierwave/issues/1735)

[2016-02-29 11:55] DonGiulio commented on #368
The workaround very quickly gets into a mess if you are saving versions of you files in different formats (for example PNG previews for PDF files), where you need to reimplement, for each version:

[code]

And if you are using also callbacks the file passed to each callback will have the old name.

Please reopen this.

[2016-03-01 09:28] acandael commented on #1881
solved the issue by commenting out this line in config/initializers/carrierwave.rb

    CarrierWave.configure do |config|
      #config.root = Rails.root
      ...
    end

[2016-03-02 14:00] NadiyaKa opened #1887 "Error 'uninitialized constant CarrierWave::MimeTypes' after gem update"
Hi!

I'm using a carrierwave gem 0.10.0 to upload 1 picture to the model. Now I want to be able to attach several pictures so I followed the steps from documentation one of which was to change `gem 'carrierwave', '~> 0.10.0'` to `gem 'carrierwave', github: 'carrierwaveuploader/carrierwave'`.
After that I'm getting such error **uninitialized constant CarrierWave::MimeTypes**. Any ideas on what's go

[2016-03-02 15:22] DonGiulio opened #1888 "new asset has an image already populated"
hello,

I'm running through this issue, where I have the following model:

[code]

if I do in the console:

[code]

Basically the image uploader gets automatically populated with a file whose hash is `d41d8cd98f00b204e9800998ecf8427e` (always the same hash), and the file does not exist.

I can't figure out where is this image coming from.

the `crop_uploaded` field is from `carrierwave-crop` gem.

[2016-03-02 15:24] DonGiulio commented on #1888
my image_uploader contains the following:

[code]

[2016-03-02 15:51] DonGiulio commented on #1888
it seems to be the `write_image_identifier` callback populating the field. I tried skipping that with:

`skip_callback :save, :before, :write_image_identifier`

but it doesn't seem to be working, and the callback still runs.

any clues?

[2016-03-02 16:55] DonGiulio commented on #1888
turns out that

[code]

was the culprit, I modified it to:

[code]

and it all works fine now,

Thanks, sorry for the fuss.

[2016-03-02 16:55] #1888 closed

[2016-03-03 13:04] zzet commented on #1776
same error

[code]

[2016-03-04 03:50] hail2skins commented on #1854
I also have the same issue.   In my case I have an Article model where I have validations on name and content.   This works fine when I leave both as blank.   But, when I add the file_field and Carrierwave, if I leave name and content blank AND leave the file blank, I get the error described here for create and update.

I'll actually try fetch, but I had to write a nil check to get it to work.   M

[2016-03-04 08:36] Okasu opened #1889 "Uploader::Cache#cache_id= bug"
https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/uploader/cache.rb#L193
This one will fail if time is a negative number. Well, that may seem unimportant but look at recent iOS bricking bug related to Unix time...

[2016-03-04 11:10] Mohakjuneja opened #1890 "Uploading multiple Images using JSON API"
Hi there! I need to upload multiple images to my model using the JSON API. I've been able to do it for a single image thanks to this link
https://gist.github.com/ifightcrime/9291167a0a4367bb55a2
But I've been failing at improvising the approach to upload multiple images. I'm using the the carrierwave mongoid gem along with the master branch of carrierwave and I've made the recommended changes to m

[2016-03-04 19:13] jeansimon commented on #1583
running into something similar, although not exactly the same. uploading a utf-8 file to s3 is ascii-8bit when i pull it down...

[2016-03-04 19:49] hail2skins commented on #1854
I changed to fetch and it works too, but it doesn't with require.

[2016-03-04 20:26] cacqw7 commented on #1662
+1

[2016-03-04 22:48] hail2skins opened #1891 "Nested model upload fails in Rails 5.0 but works in Rails 4.2.5.1"
So, I have code that I've made into a dummy test site to validate.   This code works exactly as intended when using Rails 4.2.5.1 but fails when using Rails. 5.0.   I do not understand where the actual issue is, so here goes.

My specific error is Attachment article must exist, which tells me somehow I am not passing an article instance to this, but I just can't figure out why this works, exactly

[2016-03-05 00:33] hail2skins commented on #1891
So, for Rails 5 the answer, according to someone on Stackoverflow to the same question, is make my Attachment model look like this:

[code]

The optional: true apparently checks and then allows an attached file to be uploaded.   I confirmed it works.

[2016-03-07 09:56] #1887 closed

[2016-03-08 22:05] EddieOne opened #1893 "Passing varibles to an uploader without a model?"
I'm in the process of separating a nodejs API from a rails app. I want to keep the image processing on rails and the database is handled by nodejs. My question, how to set a file name variable without a model?

In the controller.rb

[code]
In achievement_uploader.rb

[code]

How do I pass in the controller_var without a model?

[2016-03-08 22:11] EddieOne commented on #1893
Never mind, found it right after asking. :upside_down:
http://stackoverflow.com/questions/21905837/passing-attributes-to-carrierwave-uploader-without-orm

[2016-03-08 22:11] #1893 closed

[2016-03-09 08:10] coderawal commented on #789
I too hit the same issue,  I'm new to rails, so I would be grateful if you please provide a elegant solution or  help me guide the better way. Thanks.

[2016-03-11 07:46] Ruxton opened #1894 "Send 0.11 to Rubygems"
0.11 isn't on rubygems, there's fixes in it for things like RMagick deprecations. Can someone make it goto rubygems so people using that source actually get the updated version?

It's also not tagged in the releases section on github for some reason?

[2016-03-11 13:59] CUnknown commented on #1894
@kreintjes already made a pull request to update everything for a new release (changelog ed). https://github.com/carrierwaveuploader/carrierwave/pull/1883 It only needs to be merged and submitted to rubygems, but this can only be performed by the owners of the repo, I think.

[2016-03-11 21:45] evanjmg commented on #1843
If I have an image object that belongs to my place and I have a list of places that I want there images for. Is there a way to join  and load :images with my request? Or does the mounted uploader restrict that?
Right now I have to load each set of image urls separately, adding 3 seconds to my request.

[2016-03-11 22:02] feroiso opened #1896 "extension_white_list being ignored"
Using `extension_white_list` doesn't seem to filter uploaded file extensions.
Nothing happens when invalid format is uploaded.

[2016-03-12 09:48] mrudult commented on #1843
@evanjmg I had (have) the same issue. That's why I created this issue at first place. Not able to call the `image` object directly when we do `joins` or `includes`. So I make two calls. For example, in your case it would be something like:

In controller:
[code]
In view (this assumes jbuilder):
[code]
This way you make two database calls. Basically what I'm doing is, `grouping` the `place_images`

[2016-03-14 08:48] nathanpop opened #1897 "multiple file upload shows nothing after validation"
I see that it's possible to preserve a file upload when making validations with a single file upload with Carrierwave, but I've tried this with multiple file uploads, and it doesn't seem to work:
https://github.com/carrierwaveuploader/carrierwave#making-uploads-work-across-form-redisplays

my form:

[code]

my model:

[code]

`attr_accessor :space_photos_cache`

my controller:

[code]

Thank you!

[2016-03-15 17:27] acaron opened #1898 "original_filename is always present and it makes the filename change on every update"
This piece of code doesn't work anymore:

[code]

`original_filename` is always present so `update_attributes` or `save` makes the file change its name every single time.

It was the solution to this issue: http://stackoverflow.com/questions/22748385/carrierwave-filename-keeps-changing-on-update-attributes

[2016-03-16 06:09] Rehankhan100 commented on #1704
@bobintornado this delete another photo like i have 4 photos when i am going to delete 2 photo its delete 3 photo and this delete function work sometime not every time kindly need a proper solution.

[2016-03-16 15:53] bobintornado commented on #1704
Is the bug reproducible?
On Mar 16, 2016 14:09, "Rehan Khan" <notifications@github.com> wrote:

[2016-03-18 17:09] s-lee-kwong commented on #1859
I am currently having a similar problem in that I am trying to upload a file with chinese characters in the filename but it results in 3041771_772出货检查.pdf = 3041771_772____.pdf. I know this is a sanitization problem but I was wondering how would I keep the chinese characters there in the filename.

Thanks

[2016-03-20 13:37] thedrow opened #1899 "Make mount_uploaders work with one_to_many relationships"
I have a list of photos that a user has and I'd like to model them as a one to many relationship between the users and the photos.

The user model looks like:
[code]

The Photo model looks like this:
[code]
When I assign a file to photos I get:
[code]
So something is obviously wrong with what I'm doing or that carrierwave doesn't support this kind of usage.

[2016-03-21 15:49] Yanchek99 opened #1901 "Ruby Toolbox entry for this gem has the old github repo associated with it."
Might be nice to get this resolved because when comparing against paperclip it looks as if carrierwave is not active.

Please see https://www.ruby-toolbox.com/projects/carrierwave, I have requested a modification that needs approval https://www.ruby-toolbox.com/projects/carrierwave/modifications.

[2016-03-21 18:33] pnicolai commented on #1894
:+1:

[2016-03-21 20:50] attilagyorffy opened #1902 "I18n::InvalidLocale error when processing happens to fail and :en is not a valid locale"
Hi,

This is an odd one that happens to break my app. I know that ideally the processing (using MiniMagic btw) should not break but in some cases it may actually do and I don't think my app should with the following exception:

[code]

This happens to be an issue where the MiniMagic processing plugin tries to log an issue and happens to be using the I18n translations with an explicit `:en` locale.

[2016-03-21 20:54] liquid commented on #1902
Now that I've seen CarrierWave is advertised as a solution that is supposed to be compatible with Sinatra, I am more confident that I18n should not be an explicit dependency of the library. (I realise it is not in the gemspec, but essentially the line above makes use of `I18n` anyway.

[2016-03-23 14:14] jottr opened #1903 "Can't get Rails 4 app to work with carrierwave, S3 and CDN"
Our rails app does not use the correct links for all uploads.
I've been trying to figure out the reason for this, but I'm stuck.

The error message we see:
[code]

The invalid URL that seems to be rendered to the browser:

`https://www.mein-grundeinkommen.de/uploads/user/avatar/235171/raute.png`

This is what it should look like:

`https://cdn.mein-grundeinkommen.de/uploads/user/avatar/235171/raut

[2016-03-23 14:32] #1903 closed

[2016-03-23 14:37] jottr commented on #1903
This seems to not be an issue with Carrierwave. Sorry for the noise.

[2016-03-23 18:07] kernow commented on #1894
Is anyone able to explain whats going on with releasing this gem to rubygems? The current version on rubygems is 2 years old, the documentation isn't clear on how to install and from what source depending on your rails version. I'm wondering if I should be moving to another solution if the maintainers are going to ditch the standard way to distributing a gem.

[2016-03-23 18:15] izumeroot commented on #1079
Sorry. But can I fix it, if I need  multiple=true? I use rails 3.2.13

[2016-03-24 10:08] CUnknown commented on #1894
Time to create a new 'carrierwavewave' gem?

[2016-03-24 14:48] AlexLarra commented on #1894
:+1:

[2016-03-24 18:07] svensson-david opened #1904 "Unable to mount uploader on column with name ending in _url"
I want to mount an uploader on the column media_url but when doing so the field media_url always returns nil. Mounting the uploader on other string columns in the model works without a problem.

I'm integrating a new Rails back end with a legacy database. There are multiple front-ends pulling info from the database so changing column names is a bit of a hassle.

Is this a known limitation? If so,

[2016-03-25 01:09] whokilledtheelectricmonk commented on #1891
Wow, that is a big surprise. I had this issue as well on an even simpler relation (no uploader). This is either a bug or needs to be highlighted prominently in the changelog, or a lot of nested forms will break.

[2016-03-25 06:44] svensson-david commented on #1904
Found issue in model code. Above issue does not exist

[2016-03-25 06:44] #1904 closed

[2016-03-27 08:47] thedrow commented on #1894
Hi guys please release or add more maintainers and grant them release rights.
I can volunteer to craft this release if needed.

[2016-03-27 09:05] thedrow opened #1906 "Add a RSpec matcher for verifying that a file was uploaded"
Verifying that files were uploaded should be a matter of adding a matcher e.g.

[code]

[2016-03-28 09:40] jfuentesdelgado commented on #1887
I have the same error.

[2016-03-28 09:43] NadiyaKa commented on #1887
Was solved by removing

`include CarrierWave::MimeTypes
  process :set_content_type`

It is included automatically after update

[2016-03-28 23:14] abMatGit commented on #1898
I'm also getting an issue with this. Also when loading a model via `Model.find ...`, the uploader will recompute the `secure_token` because it picks up the `original_filename`.

[2016-03-29 05:28] abMatGit commented on #1898
It seems as though the solution is the memoize the full filename instead of just the secure token.

So instead of:
[code]

You have:
[code]

[2016-03-29 10:02] thiagofm commented on #1894
Hello everyone. Sorry for the delay.

Sadly, even though I'm a "owner", I don't have the permissions to generate the release. I've sent an e-mail for the maintainers that are able to generate a release in Rubygems in order to fix this problem.

Thanks a lot for your feedback, I'll leave this open until we generate a release.

[2016-03-29 11:43] RomanKapitonov commented on #1801
This one is still reproduced. Just got into the same situation. Any thought or workarounds?

[2016-03-29 12:12] thedrow commented on #1894
@thiagofm In order to prevent this problem in the future let's setup Travis to deploy to rubygems whenever the repository is tagged.
That way, any contributor with commit access can release when it's needed.

[2016-03-29 12:17] thiagofm commented on #1894
@thedrow feel free to submit a PR, I was just reading about that.

[2016-03-29 12:21] thedrow commented on #1894
In order to submit a PR I'll need your credentials and access to Travis in order to encrypt them.
You can do it yourself using the travis command line tool.

[2016-03-29 12:35] thiagofm commented on #1894
@thedrow okay, thanks.

[2016-03-29 12:35] thiagofm commented on #1894
I've done the release, have fun people!

[2016-03-29 12:35] #1894 closed

[2016-03-29 12:53] RomanKapitonov commented on #1801
All right, i've looked through the commit history in master. This one is already fixed by https://github.com/carrierwaveuploader/carrierwave/commit/76e00a08e0eff059b13182ac478c0c4cc0d8fac9

The issue may be closed.
@edatrix, you may use the master branch with the corresponding ref.

[2016-03-29 13:33] kreintjes commented on #1894
@thiagofm thanks for the release, but shouldn't you have merged my changelog updates first? :p
https://github.com/carrierwaveuploader/carrierwave/pull/1883

[2016-03-29 14:27] thiagofm commented on #1894
Sorry @kreintjes. I wasn't aware of that. I've merged it now. Do you thing there's a need to regenerate the release? :P

[2016-03-29 17:51] abMatGit commented on #1898
Just as an update, the problem for me was memoizing the `secure_token`. Make sure that if you're saving the same instance of an uploader multiple times, the `secure_token` is memoized to prevent it being recalculated.

[2016-03-29 17:58] acaron commented on #1898
Thanks @abMatGit, I will try that!

[2016-03-29 18:06] acaron commented on #1898
No, it doesn't work! `original_filename` returns something even if it is not the original name (it returns the last `#{secure_token}.#{file.extension}"` set and it is suppose to be nil).

[2016-03-30 11:15] huzefa-btc opened #1907 "Keep the original filename as it is"
I am using Carrierwave gem and when i download the file, if that file name contains space then it's converted into underscores. So how to remove that underscore from the filename while downloading it ?
This should not effect a scenario when the user himself has kept an underscore in their filename for some reason.In that case it should not remove it.

[2016-03-30 14:57] kreintjes commented on #1894
No problem @thiagofm. It is just changelog updates, so I don't think it is really necessary. Most people will probably look on Github for the readme and changelog anyway.

However, after upgrading to 0.11.0 I noticed some deprecation warnings I got are not fixed yet. I backported the corresponding fixes to the 0.11-stable branch: https://github.com/carrierwaveuploader/carrierwave/pull/1908. Perhap

[2016-03-30 21:11] thiagofm commented on #1894
@kreintjes thanks for taking your time to test the new release. I'll do this ASAP.

[2016-03-31 06:54] thedrow opened #1909 "Set up deployment using Travis-CI"
We need to provide the capability to deploy CarrierWave to rubygems to all contributors so releases won't be blocked by one person owning the release privileges to rubygems.
Please follow the guide and set it up https://docs.travis-ci.com/user/deployment/rubygems

[2016-03-31 14:13] Startouf opened #1911 "`include CarrierWave::MiniMagick` and uploads no longer work"
Whenever I add include CarrierWave::MiniMagick in my Uploader files, the uploads just stop working, without any hint of error, and the application flow resumes without updating the images.

[code]

If I comment the include line (and the process lines) everything works well.

I've tried uploading manually via the console, here's what happens

[code]

I also guarantee that ImageMagick and Minimagick

[2016-03-31 18:04] Startouf commented on #1911
Problem seems to be fixed now somehow. No idea what happens, my model was probably bugged sommehow, and after destroying the upload correclty, clearing the existing images, it seems to work fine now.

[2016-03-31 18:04] #1911 closed

[2016-04-01 21:41] #1881 closed

[2016-04-01 21:42] #1875 closed

[2016-04-05 06:50] vamsipavanmahesh opened #1913 "Sessions are not accessible in carrier wave uploader"
I want to customize the folder of the upload directory, I waned to give it's name as the users email id. But both current_user and sessions are not accessible in carrierwave uploader. Is there any work around for this

http://stackoverflow.com/questions/36418669/sessions-are-not-accessible-in-carrier-wave-uploader/36418905#36418905

[2016-04-05 07:52] vadim-zverugo opened #1914 "Fog AWS doesn't work with 0.11.0"
Ruby 2.2.2p95
RoR 4.2.6

`Gemfile`
[code]

`config/initializers/carrierwave.rb`
[code]

`app/uploaders/image_uploader.rb`
[code]

The error I see when running my app:
[code]

[2016-04-05 18:09] oboxodo commented on #1914
I upgraded from 0.10 to 0.11 because I wanted to leverage the possibility to only require `fog-aws` instead of the full `fog` package which loads a ton of unneeded gems. But it failed with the same error mentioned by @vadim-zverugo.

Further investigation shows that the newly released 0.11 version gem is missing A LOT of commits from master, including the patches to support `fog-aws` which have be

[2016-04-05 21:09] javierjulio commented on #1914
Having same issue. Noticing the 0.11-stable branch is missing some important changes. The fog_provider isn't set https://github.com/carrierwaveuploader/carrierwave/blob/0.11-stable/lib/carrierwave/uploader/configuration.rb but it does exist in same version of file on master. Are we even sure what commits are in the 0.11 release?

[2016-04-07 12:58] Rubioli opened #1916 "How can I get "convert" the image to my exact given width and height?"
I am using `CarrierWave::RMagick` and has giving my **thumb**, width: 193 and height: 112.
Here is my code:

[code]

Everything works fine except that often the image gets some blank spaces with background: **#EFF5F7** and I am not happy with that.

How can I make the image to be exact **193x112** with **NO** blank spaces and if **RMagick** needs to cut some parts of the image to get it right, it'

[2016-04-07 15:11] eloyesp commented on #1914
A workaround for this is adding an empty file `lib/fog.rb` and manually requiring 'carrierwave/storage/fog' in the initializer. (It is working for `v0.10.0` but should also work for `v0.11.0`).

[2016-04-08 11:34] baash05 opened #1918 "dependencies.rb:274:in `require': No such file to load -- carrierwave/processing/mime_types (LoadError)"
I get this error when I include the "master" gem

from /home/me/.gem/ruby/gems/activesupport-4.2.6/lib/active_support/dependencies.rb:274:in `block in require'
	from /home/me/.gem/ruby/gems/activesupport-4.2.6/lib/active_support/dependencies.rb:240:in `load_dependency'
	from /home/me/.gem/ruby/gems/activesupport-4.2.6/lib/active_support/dependencies.rb:274:in `require'
	from /home/me/Documents/wor

[2016-04-08 12:51] jbschrades commented on #1914
Even if I rollback to `0.10.0` I'm still having issues with fog and AWS.

[code]

This is the case whether I use `fog` or `fog-aws`

I'm assuming this is the same issue?

[2016-04-08 13:40] oboxodo commented on #1914
@eloyesp that sounds like a simple and not very intrusive hack. But I'm not sure I follow what you mean. Could you explain a bit further? Maybe some sample code?

You mention `lib/fog.rb` being empty, but then also mention "manually requiring `carrierwave/storage/fog`". Where would you do that? I think the important bit would be where to require `fog-aws` instead of `fog`, right?

Thank you very m

[2016-04-08 18:33] eloyesp commented on #1914
@oboxodo I've required `carrierwave/storage/fog` in the carrierwave initializer and you don't need to require 'fog-aws' as bundler is already doing that for you (you can also do it in the initializer if you want).

@jbschrades It seems like another issue, it seems that you are not setting a credential:

[code]

[2016-04-08 20:06] jbschrades commented on #1914
@eloyesp thanks for the response.  My problem was that I had double-quotes on that line like `"AWS"` instead of single like `'AWS'`.  I've used this config is many apps, so I was vexed.  Didn't realize the double-quotes would be a problem.

Sorry for this being off topic.

[2016-04-10 05:31] oboxodo commented on #1914
@eloyesp thanks! That did the trick. So simple...

[2016-04-12 10:25] aried3r commented on #1896
I'm facing the same issue. My image uploader accepts `test.mp3` with MIME-type `audio/mpeg` in a controller test, but not when doing the same in the Rails console, starting with carrierwave 0.11.0.

[code]

Same in RSpec:
[code]

[2016-04-12 10:58] thiagofm commented on #1896
Hello,

We have changed the method name. It's in the changelog for the 0.11 version:

https://github.com/carrierwaveuploader/carrierwave/blob/master/CHANGELOG.md
[BREAKING CHANGE] Rename extension_white_list ~> extension_whitelist (@mehlah #1819)

Cheers

[2016-04-12 11:10] aried3r commented on #1896
I am using the correct method names. :)

After reading [this comment](https://github.com/carrierwaveuploader/carrierwave/issues/1914#issuecomment-205924307) I tried using the master version using `gem 'carrierwave', github: 'carrierwaveuploader/carrierwave'` which makes all tests pass again.

I could not locate the exact change that makes it work again in `master` (0.10.0, [see this](https://githu

[2016-04-12 11:41] thiagofm commented on #1896
I've seen reports of that change missing, that is right. I need time to roll up a new release to fix that. If you feel up to the adventure, feel free to open a PR in the 0.11 branch.

Cheers.

[2016-04-12 18:11] justinperkins opened #1919 "Support for remote URLs without protocol?"
When specifying a remote URL on an uploader, I'm running into a situation where the protocol portion is left off (for protocol agnostic URLs), and this is throwing an UploadError exception (Unsupported source URL). Would be great if the library could handle the protocol agnostic format, or at the very least, provide a means to prefix a protocol before the string goes into the uploader.

I'm trying

[2016-04-13 03:29] txssseal opened #1920 "Multiple File Upload using same UUID url for each image"
When uploading multiple files I am unable to generate multiple UUIDs for an image.

The UUID's generated do not match the UUID's on aws.  They are completely different.  Below is the code snippet.

[code]

[2016-04-13 07:23] aried3r commented on #1896
What exactly is the roadmap here? I just saw the 0.11.0 branch has about 380 fewer commits than the master branch, but was released only a few weeks ago.

I could try to find the necessary commit, but what exactly is going on here? :)

[2016-04-13 20:19] thiagofm commented on #1896
@aried3r we're working on a 1.0.0 version

[2016-04-13 21:26] brettshollenberger commented on #725
@hoenth I suppose it depends on how many servers you have, and therefore how likely it is you'll lose the user's file, but for what it's worth we're opting to always ask the user to re-upload files on validation error, because I think adding an additional extra round trip (2nd validation error in a row) sounds like an even worse experience than just asking for re-upload. Even if you only have 2 se

[2016-04-18 15:31] LimeBlast opened #1923 "AuthorizationQueryParametersError error when trying to download from S3"
I'm using carrierwave to store files in a non-public S3 bucket. The files all upload without issue, but I'm having a problem as soon as I try downloading them via the `.url` link generated by the gem. Here's the error message:

[code]

And an example URL:

    https://s3.amazonaws.com//uploads/batch/zip/1/batch.zip?X-Amz-Expires=600&X-Amz-Date=20160418T152339Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Am

[2016-04-19 08:05] vadim-zverugo commented on #1914
Thanks @eloyesp, but I'd like to see `fog-aws` working without hacks, especially if it's annotated in the changelog for v.0.11.0. Maybe we can hear some updates from Carrierwave authors about v0.11.1?

[2016-04-19 19:44] jasper502 commented on #1575
I have the same issue but can't seem to find any posts on this.  If you follow the docs: https://github.com/carrierwaveuploader/carrierwave/wiki/how-to:-do-conditional-processing the files do not get processed but you end up with phantom versions.  For example you would upload a PDF and still end up with `Attachment.file.thumb.url` == `/path/to/file/thumb_somefile.jpg` etc.  This is what I see too

[2016-04-20 16:00] raldred opened #1924 "Versioning & converting image with uppercase extension errors "same file" OSX"
I have my version (thumb) set to process and convert to jpg.
This works fine unless the user uploads an image that's already a jpg but with an uppercase extension JPG.

I'm running Ruby 2.2.2, Rails 4.2.4 & Carrierwave as of 49fdad1ec6ca

It raises the following error:

[code]

I think this is the problem line `carrierwave/processing/rmagick.rb` is the problem, maybe it should probably use the ext

[2016-04-22 06:52] jasper502 opened #1926 "conditional versions - not processed but versions still created"
I have an uploader where the files can be pretty much anything.  I wanted to make previews of images so based on the various docs I created a conditional version.  My side is available here:

https://gist.github.com/jasper502/b3daff11631f62607fb758fbebeb2bec

It sort of works.  The non-image files are not processed but the versions are still created.  For example `upload.file.small.url` will alway

[2016-04-22 06:54] jasper502 commented on #1926
As a follow-up down the road I wanted to add additional conditional versions - for example for a PDF or a MS Word file etc.  checking the presence off the version would really come in handy in this case vs having to check against some hash of file types or setting another attribute in the model to indicate an upload that would have a preview.

[2016-04-22 06:55] vijayprasad6 commented on #222
Guys do not worry just use a simple line after object destroy as marked here and it will delete the directory.
**Here is code of destroy action: **
def destroy
    @remember_id = @image.id
    @image.destroy
   **_ FileUtils.remove_dir("#{Rails.root}/public/uploads/image/file/#{@remember_id}")_**
    respond_to do |format|
      format.html { redirect_to images_url, notice: 'Image was successfully

[2016-04-22 17:21] jaredbeck commented on #1914
As Diego said, this feature (using only `fog-aws`) is in `master` and in the [docs][1]. The following works for me:

[code]

Of course, disclaimer: use `master` at your own risk.

[1]: https://github.com/carrierwaveuploader/carrierwave#fog

[2016-04-23 12:19] lakehouseru commented on #1696
Have the same issue  - and  PATH variable is ok. Mogrify tool works from command-line and MiniMagick works from rails console. - Any clues?

[2016-04-23 16:47] hmistry commented on #1926
To your point of versions being created in the uploader object but the actual file does not exist... this created a lot of initial confusion for me where I spent time trying to understand what was going on and why its doing that (documentation was not helpful). I think the correct behavior should be not to create any version objects until you actually give the green light to process it. Then there

[2016-04-23 17:01] hmistry opened #1927 "version_exists? does not seem to be working"
I have an image data model and created 4 different versions of it, small, med, large, xlarge. I've verified the files do exist in S3 and the respective url's do work. However when I query the uploader whether a version exists, it always returns `false`. Is this a bug or is this not reporting whether a version exists?

Using carrier wave v0.11, carrier wave-aws 1.0.0, Rails 5.0.0.beta2, ruby 2.3.
R

[2016-04-24 02:48] jasper502 commented on #1926
I agree with @hmistry  - from what I gather there is no way to even do that now.  I tried wrapping the entire version block in an `if` block but you can't even do that in the uploader.

[2016-04-24 02:51] jasper502 opened #1928 "NoMethodError - undefined method `permit' for #<ActionDispatch…>"
I have a typical Rails model and added a Carrierwave uploader and am using Dropzone.

When I upload I get this error:

    Started POST "/model/2/uploads" for ::1 at 2016-04-23 13:45:23 -0600
    Processing by UploadsController#create as JSON
      Parameters: {"utf8"=>"✓", "authenticity_token"=>"PPrsIJu4EI5R47VzbfBknaq7QPRpcjsZzCVTkWn2BEEYVc36CQf5rnePTBaVOy6VOX47M4GcrdGCDmH7g8vCQw==", "upload"=>#

[2016-04-27 11:17] thiagofm commented on #1928
Hello @jasper502,

Perhaps you can check further in the wiki about that. Other than that, this question could fit better on stackoverflow. Due to that reason, I'm closing this issue.

Cheers

[2016-04-27 11:17] #1928 closed

[2016-04-27 11:29] hrangel opened #1929 "Retrieve from (local) cache first?"
Hi,

I'm using carrierwave (+ carrierwave-ftp) in a Rails API project that uses devise token auth, but I'm getting ftp (too many connections) errors since everytime a rest API call is made, it loads up the current_user and retrieves the image from the FTP (even tough it won't be used in the response).

I've already contacted the project host providers but I was wondering if there is any way to:
-

[2016-05-02 13:21] snoblenet opened #1931 "recreate_versions! giving error: undefined method `body' for nil:NilClass"
I am storing images on S3.

I am uploading the images to the directory etc that CarrierWave expects using a client-side desktop application, not Rails.

This works. After calling `area.update_column :screenshot, "file.png"` within Rails, I can get the correct URL using `area.screenshot.url`.

The images are uploaded as `ACL: public-read`.

My client-side desktop app only uploads the default versio

[2016-05-02 14:19] nocturnaltortoise commented on #1001
I have the same issue when using Carrierwave with paper_trail (https://github.com/airblade/paper_trail), does anyone know of a fix for this?

[2016-05-02 21:42] snoblenet commented on #1931
Update, I am trying to address this the long way around with:

area.remote_screenshot_url = area.screenshot.url
area.save!

But I am getting:

[code]
I have downloaded the image manually from S3 and opened it to check it is an image. The blur option works fine aside from in this situation. It reads:

[code]

[2016-05-03 15:32] ardianys commented on #1755
+1 for this

[2016-05-03 22:25] arpitchauhan opened #1932 "Mounted uploader inside an ActiveRecord model mysteriously points to different objects at different points in spec execution"
I have defined an uploader as below

[code]

I use it a model as below

[code]

CatalogImport is a class as below

[code]

I have an rspec example as below

[code]

The remarkable thing is that the `@product_import.save!` statement fails because it is not able to find the file. I useed pry to debug and found that when you call `catalog` on `Abc::ProductImport` object inside the `add_to_import_queu

[2016-05-04 03:27] timcheadle opened #1933 "ImageMagick exploit: cve-2016-3714 "magic byte" validation"
[This article](https://imagetragick.com/) alerts that a new ImageMagick exploit is being used in the wild and describes the following fixes:
- Using a policy file to limit possible attack vectors
- Checking the "magic bytes" at the beginning image files to validate that they are actually image files

Can someone provide an update as to whether or not this affects CarrierWave and, if so, what steps

[2016-05-04 05:10] d4rky-pl commented on #1933
Carrierwave uses [mime-types](https://github.com/mime-types/ruby-mime-types) gem which detect content type based on filename. I've already flagged this as potential security issue over a year ago (#1543) but the consensus at the time was that it's outside the scope of this project and a custom processor would be preferable.

[2016-05-04 07:43] thiagofm commented on #1933
@d4rky-pl given the current issue, do you mind giving it a try with your fix? I was also looking at a solution yesterday, but didn't know about the file from unix solution.

I would like to leave this outside carrierwave, but given the current issue...

We'll do what we can to protect our users from exploits. If it has to be some sort of temporary patch, I can take care of maintaining it, no probl

[2016-05-04 08:37] RavWar commented on #1583
I've also encountered this problem. It turns out it's caused by binary read (rb flag) here: https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/sanitized_file.rb#L163

Not sure why is that. It was written back in 2011 for a better Windows support maybe?

[2016-05-04 09:59] fqueiruga commented on #1933
What approaches are being considered to detect the content type? I'd use something like [mimemagick](https://github.com/minad/mimemagic) rather than calling the file command. The reason for this is that in some production environments these kind of syscalls are disabled.

What are your thoughts on this?

[2016-05-04 10:57] namxam commented on #1933
From what I read, this is also the approach paperclip is using: https://github.com/thoughtbot/paperclip/blob/v4.3.6/lib/paperclip/content_type_detector.rb#L69-L72

[2016-05-04 11:27] thiagofm commented on #1933
The mimemagick approach seems good, anybody is free to submit a PR with a solution. 👍

[2016-05-04 13:00] alexmuller commented on #1933
We've confirmed that a Rails application using carrierwave 0.9.0 is vulnerable to CVE-2016-3714 with ImageMagick `8:6.7.7.10-6ubuntu3`.

[2016-05-04 13:40] locriani commented on #1933
I created a PR to fix this issue: https://github.com/carrierwaveuploader/carrierwave/pull/1934

[2016-05-04 13:50] fqueiruga commented on #1933
Will there be a backport for older versions of this fix?

[2016-05-04 20:11] saroar opened #1935 "ActiveRecord::RecordInvalid - Validation failed: Image could not download file: 404 Not Found:"
i am trying to download image from another site xml i getting this error when there image link not have image

i got this link
[code]

here is my code
`Product.create!( remote_image_url: redirected_url(URI.extract(URI.encode((product.at_xpath('picture').text.strip)))[0]))`

after i read internet i add this two method in my carrierwave ImageUploder class

  # Provide a default URL as a default if t

[2016-05-05 00:52] jrmyward commented on #1437
Did this not make it into the `0.11.0` release? I'm still getting the deprecation warnings after updating the gem.

[2016-05-05 09:25] marksweston commented on #1933
Anyone looking for immediate solutions might well take a look at https://github.com/DarthSim/carrierwave-bombshelter

[2016-05-05 09:42] thiagofm commented on #1933
@fqueiruga yes there will be a backport for 0.11

As of now I recommend people to use https://github.com/DarthSim/carrierwave-bombshelter

We're in the process of adding mitigation for this issue in a new release of 0.11

[2016-05-05 11:26] thiagofm commented on #1933
Hello everyone.

The 0.11.1 carrierwave gem has been published -- Please **upgrade** and **provide feedback if it does work for you**.

_Don't forget to check the steps provided in:_ https://github.com/carrierwaveuploader/carrierwave/tree/0.11-stable#cve-2016-3714-imagetragick in order to shield your application from the **"CVE-2016-3714 ImageTragick"** vunerability.

A **BIG THANKS** to @locriani

[2016-05-05 14:51] myers commented on #1933
It doesn't work for me.  I don't think the `content_type_whitelist` method of the uploaders that is talked about in the README is ever being called seeing as I had it raise an exception and then attempted an upload.

This [commit](https://github.com/carrierwaveuploader/carrierwave/commit/0e5885a956240089b2107ce09d27f34ee944389a) doesn't seem to add any call to `content_type_whitelist`

[2016-05-05 15:19] thiagofm commented on #1933
@locriani can you give a read here? Cheers.

[2016-05-05 18:46] locriani commented on #1933
I'll take a look shortly.

[2016-05-05 18:57] locriani commented on #1933
I made the mistake of assuming I could backport cleanly - the content_type_whitelist / blacklist do not exist in the 0.11 branch. I'll create an updated PR that brings that functionality to 0.11

[2016-05-05 19:56] tneems opened #1938 "content_type_whitelist on 0.11.x"
I saw that with the release of [0.11.1](https://github.com/carrierwaveuploader/carrierwave/compare/v0.11.0...v0.11.1) there was a backport for ImageTragick suggesting that `content_type_whitelist` be used to mitigate the vulnerability, but unless I'm losing it I don't believe there is support in 0.11.1 for `content_type_whitelist`, it's only on master.

[2016-05-06 01:04] locriani commented on #1938
That's correct, it was an oversight on my part. There's a PR currently against the 0.11-stable branch that backports the `content_type_whitelist` that you can use in the interim: https://github.com/carrierwaveuploader/carrierwave/pull/1937

[2016-05-06 01:40] Overload119 opened #1939 "ActionView::Template::Error ( is not a recognized provider)"
[code]

`carrierwave.rb`

[code]

[2016-05-06 02:06] Overload119 commented on #1939
This issue seemed to fix itself.. I have no idea how.
I added a `pry` statement in the view, to see where the issue was from

L11 `fog-core-1.36.0/lib/fog/core/services_mixin.rb`

But it just started working...

[2016-05-06 15:20] thiagofm commented on #1938
@tneems I've generated a release for 0.11.2, please update :)

[2016-05-06 15:20] #1938 closed

[2016-05-06 15:21] thiagofm commented on #1933
Carrierwave 0.11.2 released, please provide feedback!

[2016-05-06 16:29] cjbutcher commented on #1933
Haven't tested against the vulnerability in question but no problems with 0.11.2 as of yet 👍🏽

[2016-05-06 17:38] tneems opened #1940 "content_type_whitelist on 0.11.2 missing translation key"
https://github.com/carrierwaveuploader/carrierwave/pull/1937 back ported the implementation of the content type checking, but the translation keys did not make the cut. I now get
`CarrierWave::IntegrityError: translation missing: en.errors.messages.content_type_whitelist_error` when the processors run.

[2016-05-07 17:11] lebart commented on #1896
Hello,

Any update on this issue?

I actually use the 0.11.2 version and the whitelist is totally ignored.

[2016-05-07 19:31] magnocosta commented on #1896
Hello,

I am using Carrierwave 0.11.2 and as @lebart sayed the method "extension_whitelist" is total ignored.
I saw the Carrierewave code and I didn't find error but when I use the old name method ("extension_white_list") is working.

I think that you have problem on publish new code on RubyGems because when I saw the code downloaded on version 0.11.2 we have this version file:

`def extension_whi

[2016-05-07 19:39] lebart commented on #1896
@magnocosta Thanks for the tip!

[2016-05-07 19:42] magnocosta commented on #1896
Now,

I am using version from Master branch and the new name method is working ("extension_whitelist").

`gem 'carrierwave', github: 'carrierwaveuploader/carrierwave'`

On my uploader I did:

`
  def extension_whitelist
    %w(jpg png)
  end
`

It is working for me

[2016-05-08 10:32] RathanakSreang opened #1943 "Cannot view image in images for Multiple Images Uploading"
I just saw carrierwave have just add new feature about  Multiple Images Uploading and I want to try follow the document. But it did display the image after I create record.

Here what I got after add 4 image.

[code]

[2016-05-09 13:41] #1940 closed

[2016-05-09 13:49] rodrigohenriques commented on #1896
Thanks for the tip @magnocosta! It's now working for me too.

[2016-05-10 21:51] myers commented on #1933
I have tested this.  You get this exception:

`#<CarrierWave::IntegrityError: translation missing: en.errors.messages.content_type_whitelist_error>`

I suspect the translation files are missing a key.

[2016-05-11 06:38] #1939 closed

[2016-05-11 12:11] aried3r opened #1947 "Problem with MiniMagick height and width methods"
When I try to get the width or height of an image (added here: https://github.com/carrierwaveuploader/carrierwave/pull/1405), I receive the following error:

[code]

which is absolutely right. There is no `/uploads` (note the leading `/`). I think it's because of [this line](https://github.com/carrierwaveuploader/carrierwave/blob/ef0d36a7c195621d8d7d4c769a47a9aee6f64d95/lib/carrierwave/processing/

[2016-05-11 12:15] xo8bit commented on #1876
I have the same problem.

[2016-05-11 12:22] xo8bit commented on #1876
I think it will be fixed in new release because now multiple uploading working only from "master" branch

[2016-05-11 16:24] daniel-g opened #1948 "Does multifile feature allow update/destroy of each file?"
I saw in the docs I can upload multi files, but I can't see how I could delete one specific or replce it with another. Is there a way to do that in this version?

[2016-05-11 23:44] Overload119 commented on #1939
Just a little more detail for anyone else (because I ran into this issue again)

1. I added a `pry` statement to see the source of the issue.
2. My uploader class `MyUploader.fog_credentials` was returning `{}` hence no fog credentials.

When I start rails, this runs properly:

`gems/fog-core-1.36.0/lib/fog/core/services_mixin.rb` with the argument `attributes` being set as the configuration in my

[2016-05-12 14:01] kvokka opened #1950 "[BUG] Rails 4.2.6 + Polymorphic + Carrierwave 0.10 + conditions"
I've made long investigation, which is listed in this topic http://stackoverflow.com/questions/37152854/rails-4-2-6-polymorphic-carrierwave-0-10-conditions and I'll be really very pleased, if you know how solve it out.
Thank you.

[2016-05-12 17:39] umberto commented on #1918
The file has been removed in the master branch: 947eee5bf58051bedec8b63a44aa5d3c53988e16

[2016-05-13 09:53] pic commented on #1933
detecting the content-type only using the magic number with MimeMagic seems too general to me.
For example now .xslx files have application/zip content type and I guess that it is the same for all zipped XML formats.

[2016-05-14 01:08] gamezj commented on #1052
Thanks @traviskochel

[2016-05-14 21:51] jdowd opened #1952 "carrierwave errors in Ubuntu 14.04 virtual machine"
I running my app in OSX and also in an Ubuntu 14.0.4.4 VM, with no issues in the former, but a couple in the latter. I'm bundling both issues here because I assume they're related, but can split them if desired.

Rails: 4.2.6
Ruby: 2.3.1 in both environments
CarrierWave 0.11.2 in both
MiniMagick 4.5.1 in both
IM: 6.7.7 in vm, 6.9.3 in OSX

here's the (slightly abbreviated) uploader:
[code]
#### Is

[2016-05-16 08:27] ckhatton opened #1953 ""could not download file: certificate verify failed""
My rails app does not seem to be able to download images on *.filepicker.io. In the logs it says "Image could not download file: certificate verify failed".

Example image...
https://www.filepicker.io/api/file/wiv9GD6eT4e5sVCDo1E6

Filepicker says their SSL certificates are fine, and suggest the app isn't looking at the correct certificates. Images from any other domain work fine.

`Version detail

[2016-05-16 12:28] jdowd commented on #1952
I should mention that in the VM the `public/uploads` dir has been symlinked to a shared folder in `/media`.

[2016-05-16 14:05] jdowd commented on #1952
Just altered the vm to _not_ use symlink for `public/uploads` and both of the above problems vanished. Not sure if that means there is a CarrierWave problem in handling symlinks, or if I have something misconfigured in the vm. If the latter please feel free to close this issue. I'd be very appreciative if anyone has any insight in either case.

[2016-05-16 21:19] cesc1989 commented on #670
Upload across redisplay will not work when the form is being submitted remotely.

In my personal case, the form in which I needed to upload a file wouldn't work because it was being submitted via remote:

[code]

After I removed the `remote: true` code, doing as in the documentation, worked.

[2016-05-17 09:08] frazboyz opened #1954 "Slow TTFB on pages with a few images on it."
I have been using CarrierWave for a while now but when I moved away from local file storage I tried Dropbox first with the carrierwave-dropbox gem which integrated well but I experienced about 7 seconds of TTFB on pages with 5 or so images which is very slow when compared to 800 ms of TTFB from the home page. So I decided this must be just the carrierwave-dropbox gem, I then decided to try hosting

[2016-05-18 13:42] jdowd commented on #1952
I'm not sure why I was seeing the differing results with a `public/uploads` that was or was not symlinked to a shared folder, but I did find a way to correct the .png issue: If I make the `auto_orient` contingent on the image being processed having a `exif["Orientation"]` with a non `1` value then .pngs process without complaint. The jpg issue remains, but I'll go ahead and close this issue and op

[2016-05-18 13:42] #1952 closed

[2016-05-18 13:55] jdowd opened #1956 "auto_orient issues in Ubuntu 14.04 virtual machine"
I'm running my app in OSX and also in an Ubuntu 14.0.4.4 VM, with no issues in the former, but one in the latter.

Rails: 4.2.6
Ruby: 2.3.1 in both environments
CarrierWave 0.11.2 in both
MiniMagick 4.5.1 in both
IM: 6.7.7 in vm, 6.9.3 in OSX

here's the uploader:

[code]

After doing `student.mugshot = some_jpg_with_orientation_6` I can see 4 jpgs in `/tmp` and 4 jpgs in the `cache_dir`. (I comme

[2016-05-18 23:30] jdowd commented on #1956
After lots more trial and error, it seems like when the app is running in OSX host the `process :auto_orient` will occur prior to the 3 versions, and the latter will begin with the corrected image and preserve those corrections.

I can get it to work in the Ubuntu vm, but I have to add `process :auto_orient` to each `version`, and it has to come _after_ the `process :resize_to_limit`

So, the good

[2016-05-18 23:30] frazboyz commented on #1954
I'm not sure what the issue was for Dropbox but I did find out that the issue on Rackspace was that I didn't specify a base URL, resolved.

[2016-05-18 23:30] #1954 closed

[2016-05-19 19:39] jdowd commented on #1956
correction - it is not working. I was inspecting the jpgs on the command line to check for orientation, which was correct. Visual inspection, however, shows the images to be a big gray box with a think strip of image on the right hand side. Still working fine in every respect in OS X. Sigh.

[2016-05-20 13:40] aried3r commented on #1948
In the wiki there's [an article](https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-Add-more-files-and-remove-single-file-when-using-default-multiple-file-uploads-feature) with a link to a blog post where you can see how a specific image can be deleted. I guess implementing the same for replacing is very similar.

[2016-05-20 16:05] aurcioli-handy commented on #1933
If we use the policy.xml fix but using an older version (0.9 or 0.10) are we still vulnerable? The information about the vulnerability of Carrierwave to imagetragick is not well communicated.

[2016-05-20 19:52] aesnyder opened #1957 "version_name nil in sublcass"
[code]

My issue is that `version_name` ends up being `nil` when in a subclass.

The following does work:

[code]

This feels like a bug. If not, can you point me in the right direction please?

[2016-05-21 00:47] jdowd commented on #1956
well, I'm not sure what the problem was in Ubuntu vm, but got it to work by using the `combine_options` to do both the `resize` and `auto_orient` in each version, and removing the `process :auto_orient`.

[2016-05-21 00:47] #1956 closed

[2016-05-22 15:04] fheswara commented on #1943
Hi, Have u find any workaround on this? I'm having same experiences

[2016-05-23 07:13] mada41 commented on #531
hi guys.
how about handle integration with S3 + Cloudflare ?
https://support.cloudflare.com/hc/en-us/articles/200168926-How-do-I-use-CloudFlare-with-Amazon-s-S3-Service-

[2016-05-24 11:59] rocketblr opened #1958 "Potential issue: carrierwave stores versions, but not the original file, though updates the DB column"
Hi there,

I'm experiencing a really weird issue with carrierwave 0.10.0. When I update the existing record with a new picture, carrierwave successfully stores both versions, but doesn't store the original file. The column in the database is updated with a new filename. Moreover it is consistently reproduced every 2nd time. So I update the record -> it works, update again -> it doesn't. I'm using

[2016-05-24 18:18] jcoyne opened #1959 "SanitizedFile should support read with an optional length and output_buffer arguments"
Then it would conform to the IO api as documented here: http://ruby-doc.org/core-2.2.2/IO.html#method-i-read

Presently if I have this code:

[code]

Then I get this error:

[code]

[2016-05-24 21:15] jcoyne opened #1960 "CarrierWave::Storage::Fog::File should support to_file"
This would give it the same interface as CarrierWave::SanitizedFile

So that I can do:

[code]

without checking to see what kind of File is returned

[2016-05-24 21:52] mreq commented on #1902
Happens in rails 4.2.6 as well.

[2016-05-25 09:03] janko-m commented on #1959
@jcoyne Two years ago I tried changing `CarrierWave::SanitizedFile#read` to conform to the IO interface, because I wanted to build a Flickr storage gem, where the Flickr client used Faraday which required these two parameters. When I thought it could maybe work, a lot of tests were failing for unknown reasons, and it was a bit intimidating that `CarrierWave::SanitizedFile` can have so many states,

[2016-05-25 18:58] frostme opened #1962 "Support for ActiveRecord dup method"
It would be great if carrierwave would be able to fully support ActiveRecords dup method. For example,

if I have the following model

[code]

then i'd be able to do the following

[code]

And the file would be copied and saved over to the new model.

[2016-05-27 10:56] fheswara commented on #1943
- carrierwave (0.11.0 b31f7ce)
Using that version solved my problem.

[2016-05-30 06:51] nukturnal commented on #1958
Kindly include your associated Uploader Class, this will be every helpful

[2016-05-31 08:30] mahendhar9 opened #1964 "Resize_to_fit not working in production."
Sorry, this is not an issue. But any help would be greatly appreciated.

In development, everything is working great.
But in production, resize_to_fit is not working.
I am using 'RMagick' and made sure both 'Rmagick' and 'ImageMagick' are installed in production.
Also made sure that the public folder has required permissions.

[2016-06-01 10:24] opsidao commented on #361
We're using 0.10.0 and have hit this problem, is this still happening on 0.11.2?

[2016-06-01 20:44] fabiancarlos commented on #1958
Yes, i have it to, i remove before update de record now, and works.

@record.remove_avatar = true
@record.save!

[2016-06-02 03:16] dudo opened #1966 "Uploader with custom attributes"
For the purposes of using the multi file upload, i want to add a `viewed` instance method on my Uploader. I can't seem to get it to save though. Is there a way to save this attribute on an Uploader instance, and modify it?

[2016-06-02 15:34] #1948 closed

[2016-06-02 15:37] daniel-g commented on #1896
Shouldn't we close this issue?

[2016-06-02 15:39] daniel-g commented on #1943
I had to use my own serialization in order to get the multifile upload feature working properly. I will write the solution in a blog post this week I think, and post it here.

[2016-06-02 16:53] #1896 closed

[2016-06-03 09:27] aried3r commented on #1947
I'd like to send a PR with a fix, but the way it looks to me is that `.url` never returns something falsey, so I don't know how to properly test for it. Is there a way to check if a file is local, so we can use `.path` instead of `.url`?

[2016-06-03 10:17] aried3r commented on #1947
For anyone having the same problem, here's how I temporarily fixed it for our project (this solution is specific to how our uploaders work, so YMMV)

[code]

[2016-06-07 08:08] yurko opened #1968 "strip does not work on recreate_versions!"
Carrierwave 2.4.5

I'm trying to strip metadata from image files.

[code]

Then in uploader I added `include CarrierWave::MiniMagick` and `process :strip`. But it works only for new files. `recreate_versions!` does not strip even if I add it into version block like:

[code]

 though `manipulate!` from `CarrierWave::MiniMagick` is executed.
I tried this https://github.com/carrierwaveuploader/carrie

[2016-06-07 08:27] #1968 closed

[2016-06-07 23:57] jedschneider commented on #313
for me it occurred when I accidentally passed a bad time stamp, in case that stumps anyone else.

[2016-06-11 13:30] saviokmua commented on #828
[http://i.imgur.com/XH2tRZQ.png](url)

[2016-06-16 21:30] bentiffany opened #1971 "Fix for Amazon S3 Virtual Hosted Buckets"
I'm serving my images from a subdomain of my site, and would like Carrierwave to save images directly into my S3 bucket without uploading into a subdirectory by the same name as my bucket. I'm following this AWS guide on virtual hosted buckets: https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html

My carrierwave.rb looks like the following with an intentionally omitted config.fog_di

[2016-06-17 19:01] tboyko commented on #1316
I solved this issue in my implementation by adding a custom validation. If I have an activerecord model `Person` and attribute/attachment `headshot`, I add `validate :headshot` to the `Person` model:

    def headshot_is_present
        unless headshot.present? && !remove_headshot
            errors.add :base, "A headshot image must be provided"
        end
    end

This seems to take care of situ

[2016-06-20 06:56] swelther opened #1973 "DEPRECATION WARNING: `serialized_attributes`"
With Rails 4.2.6 I see lots of these deprecation warnings during our test runs:

`DEPRECATION WARNING: `serialized_attributes` is deprecated without replacement, and will be removed in Rails 5.0. (called from read_identifiers at ~/.rvm/gems/ruby-2.3.1/bundler/gems/carrierwave-b31f7ce006ba/lib/carrierwave/mounter.rb:28)`

Any plans and/or ideas how to make Carrierwave Rails 5 ready?

[2016-06-20 11:14] neilhanekom opened #1974 ""uninitialized constant CarrierWave" inside a rails mounted engine"
Hi guys,

I can't seem to use carrier wave inside a mounted engine as I get a "uninitialised constant" error.

What to do??

![screen shot 2016-06-20 at 1 14 02 pm](https://cloud.githubusercontent.com/assets/5267784/16192322/e6aee3d4-36e8-11e6-92bc-df9f9abdc70e.png)

[2016-06-21 15:11] stanley90 commented on #1583
Same problem, and couldn't find a workaround.

[2016-06-22 04:23] tam-vo opened #1975 "Can't add more attachments for multiple files"
Hi,

I can't add more attachments for multiple files (`mount_uploaders`). Here is my configuration

[code]

But it saved doc_ids field as:
`
doc_ids: [nil, "2309_doc_ids-98b63686-84f8-41a7-a22c-51fe2389ecfa.png"]
`

Please help. Thank you

[2016-06-22 04:29] daniel-g commented on #1975
If you have many files, your string file type might be the problem. What happens if you try to add 2 files? Does it do the same?
[code]

[2016-06-22 04:30] tam-vo commented on #1975
@daniel-g, it worked fine for that situation but will store wrongly incase I reload model `user`.

[2016-06-22 04:33] daniel-g commented on #1975
I found that's an issue in CarrierWave, you will have to use a type cast:
[code]
for example. I explain this here: https://coderwall.com/p/nnjrlq/multifile-uploads-with-carrierwave

[2016-06-22 04:33] daniel-g commented on #1975
CarrierWave dumps the array into a JSON, but that doesn't play well everywhere :/

[2016-06-22 05:20] tam-vo commented on #1975
Thanks @daniel-g, sadly, `ActiveRecord::Type::Text` is only available in activerecord > 4.2 while I'm using 4.1.7

I'm finding a solution for this

[2016-06-22 05:32] daniel-g commented on #1975
@tam-vo you can also use ActiveRecord::Type::String . I used Text for convenience :), is that available in your version? otherwise, I'd say there should be an equivalent.

[2016-06-22 05:48] daniel-g commented on #1975
I started a research around that, and it seems there is not an option as you said, but maybe you can dig in the code of Postgres adapter for your version: https://github.com/rails/rails/blob/v4.1.7.1/activerecord/lib/active_record/connection_adapters/postgresql/array_parser.rb

It seems it is not doing a good parsing after all. Maybe CarrierWave isn't doing it well either, so you might follow my p

[2016-06-22 12:48] tam-vo commented on #1975
It's not actually a bug from carrierwave, it caused from my customize filename for multiple files. Sorry for my stupidness and many thanks for your enthusiasm :)

[2016-06-22 12:48] #1975 closed

[2016-06-23 09:40] paweljw opened #1977 "Invalid locale in CarrierWave::MiniMagick#manipulate!"
If a MiniMagick::Error or a MiniMagick::Invalid exception is raised within `manipulate!`, the rescue block will try to find a default error message with

[code]

If the :en locale is not included in an application's locales, which is my case, an I18n::InvalidLocale exception will be raised within the rescue block, effectively blocking the developer from gaining insight into what actual exception h

[2016-06-24 18:44] juancaldera opened #1978 "Heroku and ENOENT"
I saw another issue related to this, but I'm not sure the cause is the same. In this instance, everything works, until the size of the image gets too large. Then suddenly, carrierwave starts spitting out ENOENT errors.

I noticed the tmp files created have a "-0", "-1", and "-2" suffixes. i don't know if this is carrierwave attempting to download the original multiple times, or heroku doing some w

[2016-06-26 03:29] janko-m commented on #1978
This means that you gave a file in a multi-layered/multi-paged format (e.g. PSD, PDF) to MiniMagick, and ask it to convert it to a single-layered image (e.g. JPEG, PNG). This makes ImageMagick produce multiple files with the layer indices in the filename, but MiniMagick doesn't handle these automatically, it returns representation of an image with a filename *without* these layer indices, which do

[2016-06-26 03:33] juancaldera commented on #1978
thanks for the response. sadly, the original image is a JPEG as well. this is not my area of familiarity but i believe jpegs can only come as rasterized images.

[2016-06-26 03:39] janko-m commented on #1978
Hmm, that's strange. Can you try downloading and converting that JPEG image directly using ImageMagick: `convert input.jpg output.jpg`, and confirm that it's not producing multiple images?

[2016-06-26 03:53] juancaldera commented on #1978
hmm, interesting.
<img width="227" alt="screen shot 2016-06-25 at 8 53 19 pm" src="https://cloud.githubusercontent.com/assets/2301519/16360421/e4117e52-3b16-11e6-805d-11be9c8f5ab5.png">

what is this a symptom of?

[2016-06-26 04:04] juancaldera commented on #1978
here's the file info `Adobe Photoshop Image, 3992 x 2242, RGB, 3x 8-bit channels` sorry if i'm a bit dunce. images are not my thing.

[2016-06-26 05:48] janko-m commented on #1978
Ok, so we see here that you have an `Adobe Photoshop Image`, which is a PSD (not a JPEG), so in this case we have the input format which has multiple layers, while the output format supports only one layer, so ImageMagick handles that by creating multiple files of the output format.

[2016-06-26 05:51] juancaldera commented on #1978
that make sense. thanks so much. i guess the user who uploaded this image manually just set the extension to jpg.

[2016-06-26 05:51] #1978 closed

[2016-06-28 01:02] Shwetakale commented on #1974
@neilhanekom Which ```carrierwave``` version are you using?

I have used ```carrierwave-mongoid``` in one of my projects and it worked fine.

[2016-06-28 12:30] fheswara commented on #1943
This is weird, I dont know suddenly the problem occur again. @daniel-g can you share ur solution?

[2016-06-28 12:35] daniel-g commented on #1943
https://coderwall.com/p/nnjrlq/multifile-uploads-with-carrierwave  let me know if you need any clarification

[2016-06-28 12:46] fheswara commented on #1943
@daniel-g Thanks for sharing.
Now everything works again.
One thing that I notice is carrierwave version. In my case, if version is carrierwave (0.11.0 b31f7ce) it works. But, if version 0.11.0 it didnt work.
<img width="248" alt="screen shot 2016-06-28 at 7 41 37 pm" src="https://cloud.githubusercontent.com/assets/2821068/16415751/f9d29dc6-3d68-11e6-918b-40e595e394dc.png">

[2016-06-28 12:51] daniel-g commented on #1943
It seems you have to be in master in order to use this feature

[2016-06-28 15:42] janosch-x commented on #1305
Also see https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-Use-a-timestamp-in-file-names

[2016-06-29 11:08] kinsomicrote opened #1980 "Error installing carrierwave gem in Rails engine"
I am having a hard time understanding what the issue is.

Here is what part of what I have in my `gemspec`

[code]

When I run `bundle install` I get the error below:

[code]

What could I possibly be doing wrong?

[2016-06-30 00:03] coneybeare opened #1981 "remote_XXX_url not reading correct content-type when extension is not provided"
When setting the remote_image_url to `https://pbs.twimg.com/media/ClfjzYQUYAEYGpx.jpg:large` -- a valid twitter image url -- I would expect that the headers returned:

[code]

would dictate the image type for validation. Instead, I am getting an error with the message:

Shouldn't carrierwave be validating against the headers['content-type'] value of `image/jpeg`? It appears the library isn't even

[2016-07-01 10:28] fatuhoku commented on #570
So... what's the solution? I'm getting this in my tests.

[2016-07-01 10:28] fatuhoku commented on #533
So what's the solution to me getting
`NoMethodError: undefined method `remove_previously_stored_files_after_update' for nil:NilClass` in my rspec tests?

[2016-07-01 10:30] fatuhoku commented on #583
So what's the solution to my getting `NoMethodError: undefined method `remove_previously_stored_files_after_update' for nil:NilClass` in unit tests?

[2016-07-01 16:31] connorshea commented on #1973
Rails 5 is out now, any news?

[2016-07-03 14:53] cesc1989 commented on #1677
Neither `_identifier` or `.identifier` worked for me but `_url` does work. Version 0.11.2

[2016-07-05 02:37] bastengao commented on #1545
When will be `mount_uploaders ` feature ready for release ?  I see [implementation](https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/orm/activerecord.rb#L27) is already in master.

[2016-07-07 02:09] basco-johnkevin opened #1982 "Not mounting the uploader when using activeadmin"
Model:
[code]

Uploader:
[code]

[code]

`content.url` throws this error: `undefined method url for #<Picture:0x007f87a4784e10>`

I tried this in the interactive debugger of better errors gem:
[code]

`content` is not an instance of PictureUploader.

Screenshot:

![error](https://cloud.githubusercontent.com/assets/2178576/16640492/1e137584-442b-11e6-888b-9e904c8d65a4.jpg)

Rails 4.2.6
carrierwave

[2016-07-07 02:24] basco-johnkevin commented on #1982
Oh! `content` is an instance of the Picture model. I was expecting the `content` attribute will be passed in the ruby block. It works now when I changed it to:

[code]

[2016-07-07 02:24] #1982 closed

[2016-07-07 10:57] piotr-galas opened #1983 "be_format helper not work"
I followed documentation related to rspec, and tried to test extension of file.

I used `be_format` and everything work propertly on master branch (gem 'carrierwave', github: 'carrierwaveuploader/carrierwave'),
When I switch to version 0.11.2 be_format does not exist.

[2016-07-09 13:40] fabiancarlos opened #1984 "Cordova/Ionic upload image from Android with jpg?243243242"
Hi guys, i haved the problem when i was upload from my app, so i found a solution and i want to share with you guys! :*

In my case, uploading a jpeg/jpg i just use that:

`
def extension_white_list
    [/jpe?g(.*)/, 'gif', 'png']
 end
`

[2016-07-09 13:41] fabiancarlos commented on #1984
Just if anyone have this problem too!

[2016-07-09 13:41] #1984 closed

[2016-07-11 15:48] betjaminrichards opened #1986 "How to setup private files with CloudFront?"
Currently I have an S3 Bucket with an access policy that only allows access from a CloudFront Origin Access Identity:

[code]

This should prevent any access to the S3 asset which is not through the CloudFront distribution. However when I input the S3 URL into my web browser I can still access the file.

I have `config.fog_public = true` so Carrierwave is putting a public access setting on the upl

[2016-07-11 21:46] coneybeare commented on #1981
I found a temporary work around, but not a solution. The error above comes from my checking content type using

[code]

I still want this, but until this issue is addressed by carrierwave, I have to now use extension validation instead (undesired).

[code]

The relevant `jpg_large` extension is what `carrierwave` is assuming the twitter `jpg:large` extension is instead of jpg. Hopefully they fix t

[2016-07-15 08:39] thiagofm opened #1987 "Looking for a maintainer"
Hello everyone,

Recently I've got very busy and issues just keep piling up.

It would be nice to have a new maintainer, this new maintainer should preferably have contributed with something in carrierwave or has some good experience using it under its belt. But if you are nevertheless very interested in the project and willing to spend some time to gain knowledge and help people, don't be afraid

[2016-07-16 00:35] tboyko commented on #1338
I'm still seeing this problem in 0.11.2. I'm using fog to connect to S3 and have carrierwave mounted to a model attribute in Rails. obj.reload doesn't help. I have to Obj.find() in order to avoid and error when CarrierWave tries to read the temp file that no longer exists.

[2016-07-18 19:45] tomprats opened #1988 "Rails 5 to_json double nests attribute name"
I recently updated to Rails 5 and with it, the latest version of the Carrierwave gem. I have a pretty generic model and uploader.

    class MyModel < ApplicationRecord
      mount_uploader :logo, LogoUploader
    end

In the past the `to_json` method would return:

    MyModel.first.to_json
    => "{\"logo\":{\"url\":\"/mymodel/logo.jpg\"}}"

But now it returns:

    MyModel.first.to_json
    =>

[2016-07-19 18:58] tomprats commented on #1988
Testing it against master, it no longer has the problem, whereas 0.11.2 does have the problem

[2016-07-25 06:23] kntmrkm commented on #1308
In my case

[code]

it works

[2016-07-26 18:16] connorshea commented on #1973
Based on the error in the OP, this is on b31f7ce006ba, which is the current master commit :(

[2016-07-26 18:18] connorshea commented on #1914
This is a pretty big deal, we need a 0.12.0 release if possible.

[2016-07-26 19:02] jaredbeck commented on #1914
The next planned release was 1.0.0 (https://github.com/carrierwaveuploader/carrierwave/milestone/2), but unfortunately Thiago has not had time to work on this project lately (see https://github.com/carrierwaveuploader/carrierwave/issues/1987).

[2016-07-27 05:47] mshibuya commented on #1987
@thiagofm I've sent you an e-mail about a week ago, how is it going? :)

[2016-07-27 06:46] swelther commented on #1973
Yeah. I hope to get some time in the near future to try to get rid of the deprecation warnings. Not sure how, but with some time... :)

[2016-07-27 11:19] ajeferson opened #1990 "Can not delete all images on a upload that handles multiple files"
Hi,

I'm using the master branch for handling multiple file uploads. It's working fine when adding new images, but I can not delete all of the images.

My model:
`class MyModel < ActiveRecord::Base`
`mount_uploaders :images, MyModelImagesUploader`
`end`

My controller:

`images = @my_model.images`
`image = images.delete_at(params[:image_index].to_i)`
`image.remove!`
`@my_model.images = images`
`@m

[2016-07-29 15:33] Bogdan-D commented on #1931
Bug still present in carrierwave 0.11.2:

[code]

[2016-07-29 15:57] philister opened #1991 "require rails ~>4.0 (and not >= 4.0.0) since tests are broken in rails 5"
I just wonder if the tests in master are supposed to work with rails 5?
I get 1533 examples, 15 failures, 1 pending with a fresh cloned repo;
I'm a little bit confused, please confirm.

Thanks and regards,

        DEPRECATION WARNING: ActiveRecord::Base.raise_in_transactional_callbacks= is deprecated, has no effect and will be removed without replacement. (called from <top (required)> at /media/p

[2016-08-01 22:11] ozgg commented on #1991
It doesn't seem to work with rails5 and rspec + factorygirl for me, too. If I try to "upload" image, I get `undefined method `cached?' for nil:NilClass`. But the author is looking for a new maintainer for carrierwave because of absence of time to develop it further :(

[2016-08-02 04:21] connorshea commented on #1991
At least there's only 15 failures, hopefully someone can dedicate the time to fix this!

[2016-08-02 18:18] boydkr opened #1993 "[question] Directly set URL on model"
Is there a way to directly set the image URL on a model using CarrierWave, bypassing the image upload?

There are some cases in an app where I want to by default have a link to an external image.  Using the `default_url` won't work because I don't want this to happen in all cases where there is no uploaded image.  Behavior similar to default_url is what I'm trying to achieve, though

[2016-08-03 14:26] tom-lord commented on #1437
I'm still getting deprecation warnings, too. Using `0.11.2`.

[2016-08-04 15:18] boydkr commented on #1993
It's a bummer if there's no way to do this, because my alternative is adding a flag and hacking up my serializer.

[2016-08-05 15:05] resistorsoftware opened #1995 "CarrierWave sets wrong content type on XLSX files"
My incoming upload has the right content type. A before store action shows the right content type. But the actual stored file on S3 has the wrong content type!! How to correct that?

[code]

[2016-08-06 02:16] anklos opened #1996 "files keep uploading even there are acvite record validation error"
hi there,

I have a basic model like this:

[code]

in my form, when I click submit, if the validation error is photo size limitation error, it wont upload files, which make sense. But if it is other validation error, say mobile field is missing, the form will finish uploading photo file first, then render validation error.

is this a supposed to happen?  can i change any settings to make files no

[2016-08-07 22:51] ozgg commented on #1987
@mshibuya please give us hope that you'll continue to actively develop carrierwave and make it stable in Rails5.

[2016-08-08 04:35] mshibuya commented on #1987
I'll take care of it shortly(probably next weekend), don't worry 😃

[2016-08-09 04:26] jayantsharma commented on #1680
This attack just took down my server yesterday. The least that should be done is for this to put up in the README for users, so that they're atleast aware of the vulnerability.

[2016-08-10 01:17] anklos commented on #1996
upload files to server regardless of other validation errors causes this problem to me:

My rails servers run behind a load balancer. so the file could be uploaded to `instance A`, then user gets validation error and resubmits the form, and the request gets sent to `instance B`. When  rails tries to save the object on `instance B`, it cannot find the file because it is on `instance A`. However it

[2016-08-10 12:31] jefvlamings commented on #1983
I can confirm this. The Readme is misleading because the `be_format` is documented while it's only available in the master branch and not in the latest stable release (0.11.2).

[2016-08-10 12:58] x-yuri opened #1997 "ActiveRecord's reload method doesn't always reload carrierwave attributes"
Steps to reproduce:

[code]

`app/uploaders/photo_uploader.rb`:

[code]

`app/models/photoshoot.rb`:

[code]

`app/models/photo.rb`:

[code]

`test/models/photo_test.rb`:

[code]

[code]

[2016-08-10 13:32] mostofamonsur opened #1998 "Recreate versions issue in amazon ec2 server"
I have successfully installed carrierwave gem and it's working fine.Now i have a new requirement that i would have to create a new version of the already uploaded images. So i followed
this link https://github.com/carrierwaveuploader/carrierwave/wiki/How-to:-Recreate-and-reprocess-your-files-stored-on-fog
After doing everything correctly then i got the error below:
`Operation not permitted @ chmod

[2016-08-10 14:28] mostofamonsur commented on #1998
Ohh i did it.Basically i had to change the ownership of the upload folder and everything working great.